<div class="fields">
	<div class="fields form-horizontal">
		<%= f.collection_select :event_type_id, EventType.sorted_all, :id, :name, :class=>"person-fact-type", :include_blank => "Event" %> 
		Date: <%= f.select :date_modifier, [['Before','BEF'],['After','AFT'],['About','ABT'],['Estimated','EST']], {:prompt=>"Exactly", :class => 'span3'} %>
		<%= f.text_field :fact_day, :placeholder=>"Day", :class=>"person-date-dd" %>
		<%= f.select :fact_month,month_array,:include_blank=>"month", :class=>""%>
		<%= f.text_field :fact_year, :placeholder=>"Year", :class=>"person-date-yyyy" %>
		<%= f.collection_select :location_id, @document.locations, :id, :full_location,{:include_blank => "Select Location"},{:class=>"miniselect"} %>

		<%= link_to_add_fields "<span class='button'>[add New Location]</span>".html_safe, f, :location, :replace_with %>
		<%= link_to_remove_fields image_tag("deleteicon.png"), f, :remove %>
	</div>
</div>

