<%= render :partial => "shared/validationerror" ,:locals =>{:obj => @person}%>
<div class="fields form-horizontal">
    <div style="margin-left:0px;">
      <%= f.text_field :title, :placeholder=>"Title", :class=>"person-title" %>
      <%= f.text_field :first_name, :placeholder=>"First Name", :class=>"person-firstname" %>
      <%= f.text_field :middle_name, :placeholder=>"Middle Names", :class=>"person-middlename" %>
      <%= f.text_field :last_name, :placeholder=>"Last Name", :class=>"person-lastname"  %>
      Sex: <%= f.select :sex, people_gender, :class=>""%>
    </div>
</div>
<br />

<strong class="">Information about this Person</strong>
<%= f.fields_for :facts do |fact| %>
  <%= render :partial => "fact_fields", :locals => {:f => fact} %>
<% end %>
<br />
<span class=""><%= link_to_add_fields "<span class='button'>+ Add Information</span>".html_safe, f, :facts, :add %></span>

<div class="field">
  <label>&nbsp;</label><%= f.submit "Save",:class=>"button"%>
</div>

