<%= link_to_remove_fields "<span class='button'>Use Existing Location</span>".html_safe, f, :restore_replaced %>
<div class="fields">
	<div class="controls controls-row">
		<%= f.autocomplete_field :street1, locations_autocomplete_location_street1_path, :placeholder=>'Address 1', :class=>"span6" %>
	</div>
	<div class="controls controls-row">
		<%= f.autocomplete_field :street2, locations_autocomplete_location_street2_path, :placeholder=>'Address 2', :class=>"span6" %>
	</div>
	<div class="controls controls-row">
		<%= f.autocomplete_field :town, locations_autocomplete_location_town_path, :placeholder=>'Town / City', :class=>"span6" %>
	</div>
	<div class="controls controls-row">
		<%= f.autocomplete_field :county, locations_autocomplete_location_county_path, :placeholder=>'County', :class=>"span6" %>
	</div>
	<div class="controls controls-row">
		<%= f.autocomplete_field :state, locations_autocomplete_location_state_path, :placeholder=>'State', :class=>"span6" %>
	</div>
	<div class="controls controls-row">
		<%= f.autocomplete_field :country, locations_autocomplete_location_country_path, :placeholder=>'Country', :class=>"span6" %>
	</div>
</div>

