<% @pagetitle = "Edit " + page_title %>
<% sub_title = "People & Facts" %>

<div class="well">
	<div class="row-fluid">
			<h4><%= @pagetitle %></h4>
			<h6><%= sub_title %></h6>
	</div>
</div>

<div class="row-fluid">
	<%= render :partial => "documents/form_menu"%>
</div>

<div class="row-fluid">
  <div class="span11"><h4>People</h4></div>
  <div class="span1" style="margin-top:10px;">(<a href="javascript:toggle_div(helptext, 'show', 'hide', 'viewhelptext')" id="viewhelptext">hide</i></a>)</div>
</div>

<div class="row-fluid" id="helptext">
  Use the form below to enter the people referenced by your item.  All name fields are optional.  You can also add facts about the people you enter (eg birth, marriage, death, residence etc.) and associated dates, or approximate dates as well as locations entered on the locations page.  You can add as many people and as many facts as are relevant to your item.  Once you have entered people your item will be searchable on the names you entered as well as dates of facts you have associated with people.
</div>
<hr />


<% @person = @document.people.new %>
<%= form_for(@person,:url=>:document_people) do |f|%>
	<div class="row-fluid well">
		<div class="span2"><h5>Add New Person</h5></div>
		<div class="span9 userform">
				<%= render :partial => "form", :locals => {:f => f } %>
		</div>	
		<div class="span1"><%= f.submit "Save",:class=>"btn"%></div>
	</div>

	<div class="row-fluid">
		<strong class="shadeGrey">Details about this person</strong>
		<%= f.fields_for :facts do |fact| %>
			<%= render :partial => "fact_fields", :locals => {:f => fact} %>
		<% end %>
		<br />
		<span class=""><%= link_to_add_fields "<span class='button'>+ Add More Details</span>".html_safe, f, :facts, :add %></span>
	</div>
<%end%> 	
<hr />

<% @people.each do |person| %>
	<% unless person.new_record? %>
		<%@person = person%>
		<%= form_for(@person,:url=>document_person_path(@document,@person),:method=>:put) do |f| %>
			<div class="row-fluid well">
				<div class="span2">
					<h5><%= person.full_name%><br /></h5>
					<em>Gender: <%= person.sex %></em>
				</div>
				<div class="span8 userform">
					<%#= link_to "Remove this person",document_person_path(@person.document.id,@person),:method => :delete, :confirm => "Are you sure to delete?",:class=>"button"  %>
						<%= render :partial => "form", :locals => {:f => f } %>
				</div>
				<div class="span1"><%= link_to "Delete",document_person_path(@person.document.id,@person),:method => :delete, :confirm => "Are you sure to delete?",:class=>"btn"  %></div>
				<div class="span1"><%= f.submit "Save",:class=>"btn"%></div>
			</div>

			<div class="row-fluid">
					<strong class="shadeGrey">Details about this person</strong>
					<%= f.fields_for :facts do |fact| %>
						<%= render :partial => "fact_fields", :locals => {:f => fact} %>
					<% end %>
					<span class=""><%= link_to_add_fields "<span class='button'>+ Add More Details</span>".html_safe, f, :facts, :add %></span>
			</div>
		<%end%>		
		<hr />
	<% end %>		
<%end%>
