 
						<%= form_for(@person,:url=>:document_people) do |f|%>
							<%= render :partial => "shared/validationerror" ,:locals =>{:obj => @person}%>

<div class="fields varPaddingTop"> 
	<div class="field">
		<label>Title</label> <%= f.text_field :title, :size => 4%>
	</div>
	<div class="field">
		<label>Firstname</label> <%= f.text_field :first_name %>
	</div>
	<div class="field">
		<label>Middlename</label> <%= f.text_field :middle_name %>
	</div>
	<div class="field">
		<label>	Surname </label><%= f.text_field :last_name %>
	</div>
	<div class="field">
		<label>Sex </label><%= f.select :sex, people_gender ,{:style=>"width:100px;"}%>
	</div>	
		<strong class="shadeGrey">Facts of this person</strong>
		
		<%= f.fields_for :facts do |fact| %>
		    <%= render :partial => "document_people/fact_fields", :locals => {:f => fact} %>
		<% end %>
		<br />
		<span class=""><%= link_to_add_fields "<span class='button'>+ Add Fact</span>".html_safe, f, :facts %></span>
	</div>


	<div class="field">
		<label>&nbsp;</label><%= f.submit "Save",:class=>"button"%>
	</div>

						<%end%>
