
<!-- Container -->
<div class="container siteScale clearfix">
<div class="block whiteBG varMarginDouble leftBox floatLeft border">
	<div class="varPaddingDouble horPaddingDouble registraton">
<h2>Listing Purchase orders</h2>
<table>
  <tr class="odd">
    <th><b>Buyer Email</b></th>
    <th><b>Item</b></th>
    <th><b>Item Price</b></th>
    <th><b>Item Owner</b></th>
    <th><b>Paypal Status</b></th>
    <th>Actions</th>
   
  </tr>

<% @orders.each do |order| %>
  <tr class="<%= cycle("odd","even")%>">
    <td><%= order.buyer_email %></td>
    <td><%=  order.document_name%>
    	<%= link_to "View", document_path(order.document) ,:target=>"_blank" %>
    	
    	<%
    	# link_to "Edit", edit_document_path(order.document) ,:target=>"_blank" 
    	 
    	 %>
    	
    </td>
    <td>&pound;<%= order.amount.to_f %></td>
     <td><%= order.user.email %> <%= link_to "View User", edit_admin_user_path(order.user) ,:target=>"_blank" %></td>
    <td><%= order.paypal_status %></td>
    
    <td>
    	 <%= link_to "view", admin_order_path(order) %></td>
  </tr>
<% end %>

</table>
<%= will_paginate @users%>

    </div>
</div>

	<div class="block whiteBG varPaddingDouble varMarginDouble rightBox floatRight horPaddingDouble border">
		    	<%= render "shared/usermenu"%>
	</div>


</div>
<!-- Container End -->






