<div class="row-fluid">

  <div class="well span6 pull-left">
     <h4>Basic Details</h4>
      <span>Username </span><br /><%= f.text_field :username,{:required=>true, :class=>"xlarge", :placeholder=>"Username*"}%><br />
      <span>Email Address </span><br /><%= f.text_field :email,{:required=>true, :class=>"xlarge", :placeholder=>"Email Address*"}%><br />
      <br/>
      <%= f.check_box :dealer_account %> I am interested in listing my items on the site<br /><small>(If you wish to sell, you will need to provide a valid paypal address)</small><br />
      <span>Paypal Email</span><br /><%= f.text_field :paypal_email,{:required=>false, :class=>"xlarge", :placeholder=>"Paypal Email Address"}%>
  </div>

  <div class="well span6 pull-right">
    <h4>Personal Details</h4>
    <fieldset>
      <%= f.text_field :first_name,{:required=>true, :class=>"input-medium", :placeholder=>"First Name*"}%>
      <%= f.text_field :last_name,{:required=>true, :class=>"input-medium", :placeholder=>"Last Name*"}%>
    </fieldset>
    <%= f.text_field :address1,{ :class=>"input-xlarge", :placeholder=>"Street Address 1"}%><br />
    <%= f.text_field :address2,{ :class=>"input-xlarge", :placeholder=>"Street Address 2"}%><br />
    <%= f.text_field :city,{ :class=>"input-large", :placeholder=>"Town / City"}%>

    <fieldset>
      <%= f.text_field :county,{ :class=>"input-large", :placeholder=>"State / County"}%>
      <%= f.text_field :post_code,{ :class=>"input-small", :placeholder=>"ZIP / Postcode"}%>
    </fieldset>

   <%= f.select(:location_country_id, location_countries.map{|c| [c.name, c.id]}, {:include_blank => 'Select a Country*'}, :required=>true) %>

    <br />
    <fieldset>
      <%= f.text_field :tel_number,{ :class=>"input-medium", :placeholder=>"Telephone"}%>
      <%= f.text_field :mobile_number,{ :class=>"input-medium", :placeholder=>"Mobile"}%>
    </fieldset>
  </div>

</div>