  
  
  
  
  

<% @pagetitle = "Profile :: #{current_user.name.humanize}" %>

<!-- Container -->
<div class="container siteScale clearfix">
<div class="block whiteBG varMarginDouble leftBox floatLeft border">
	<div class="varPaddingDouble horPaddingDouble registraton">
    	<h1>Change password</h1>
<%= form_for @user,:url => changepassword_path,:method => :post  do |f| %>

  <%= render :partial=>"shared/validationerror" ,:locals=>{:obj=>@user}%>
  

    <%= f.label :password %>
    <%= f.password_field :password %>
 <br />
      <%= f.label :password_confirmation ,"Confirm Password" %>
      <%= f.password_field  :password_confirmation %>
    <br />
  <br />
   <%= f.label "" %>
    <%= f.submit("Change") %>
   
  
  <%end%>
  
  
  

    </div>
</div>

	<div class="block whiteBG varPaddingDouble varMarginDouble rightBox floatRight horPaddingDouble border">
	
	</div>
</div>
<!-- Container End -->



