<% @pagetitle = "Profile :: #{current_user.name.humanize}" %>
<% sub_title = "Changing password for #{current_user.name.humanize}" %>
<div class="well">
  <div class="row-fluid">
      <h4>Change Your Password</h4>
      <h6><%= sub_title %></h6>
  </div>
</div>



<div class="general_page">
  <%= render :partial=>"shared/validationerror" ,:locals=>{:obj=>@user}%>
  <div style="text-align:center">Choose a New Password.  Passwords must be at least 6 characters long and contain at least one letter and one number</div><br /><br />
  <div class="span4"></div>
  <div class="span4">
    <%= form_for @user,:url => changepassword_path,:method => :post  do |f| %>
      <fieldset>
        <%= f.password_field :password,{:required=>true, :class=>"input-medium", :placeholder=>"Password*"}%>
        <%= f.password_field :password_confirmation,{:required=>true, :class=>"input-medium", :placeholder=>"Confirm Password*"}%>
        <%= f.submit(:value=>"Change",:class=>"") %>
      </fieldset>
    <% end %>
  </div>
  <div class="span4"></div>

  <div style="clear:both; "></div>

</div>
<hr>
<center><%= banner_ad %></center>
<hr>
