<% @pagetitle = "Profile :: #{current_user.name.humanize}" %>
<div class="introduction well">
  <span class="headline4 lead newfont">Change Your Password</span>
  <span class="pull-right">Changing password for <%=current_user.name %> (<%= current_user.username %>)</span>
</div>

<div class="general_page">
  <%= render :partial=>"shared/validationerror" ,:locals=>{:obj=>@user}%>
  <div style="text-align:center">Choose a New Password.  Passwords must be at least 6 characters long and contain at least one letter and one number</div><br /><br />
  <div class="span4"></div>
  <div class="span4">
    <%= form_for @user,:url => changepassword_path,:method => :post  do |f| %>
      <fieldset>
        <%= f.password_field :password,{:required=>true, :class=>"input-medium", :placeholder=>"Password*"}%>
        <%= f.password_field :password_confirmation,{:required=>true, :class=>"input-medium", :placeholder=>"Confirm Password*"}%>
        <%= f.submit(:value=>"Change",:class=>"btn btn-primary") %>
      </fieldset>
    <% end %>
  </div>
  <div class="span4"></div>

  <div style="clear:both; "></div>

</div>
