<% @pagetitle = "Profile :: #{current_user.name.humanize}" %>

<!-- Container -->
<div class="siteScale clearfix">
  <div class="block whiteBG varMarginDouble leftBox floatLeft border">
	  <div class="varPaddingDouble horPaddingDouble registraton ">
      <%= form_for @user,:url => changepassword_path,:method => :post  do |f| %>
        <legend class="row-fluid">Change password</legend>
        <%= render :partial=>"shared/validationerror" ,:locals=>{:obj=>@user}%>

        <div class="control-group">
          <%= f.label :password , {}, {:class => "control-label"}%>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">*</span><%= f.password_field :password,{:required=>true, :class=>"input-xlarge"}%>
            </div>
          </div>
        </div>
        
        <div class="control-group">
          <%= f.label :password_confirmation ,"Confirm Password", {:class => "control-label"}%>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">*</span><%= f.password_field :password_confirmation,{:required=>true, :class=>"input-xlarge"}%>
            </div>
          </div>
        </div>
        <div class="form-action">
          <%= f.submit(:value=>"Change",:class=>"btn btn-success submit change") %>
        </div>
      <%end%>
    </div>
  </div>

	<div class="block whiteBG varPaddingDouble varMarginDouble rightBox floatRight horPaddingDouble border">
	</div>
</div>

<!-- Container End -->



