<% @pagetitle = "Profile :: #{current_user.name.humanize}" %>
<% @gedcom_link_text =  @gedcom_link_text ?  @gedcom_link_text:"Gedcom Files"%>

<div class="introduction well">
  <span class="headline4 lead newfont"><%=current_user.name%>'s Profile</span>
  <span class="pull-right">Summary of information stored on your Past on Paper account</span>
</div>

<div>

  <div class="well">
    <div class="profile_header_text">
      <b>Hello <%= current_user.first_name %>.</b><br />This is a summary of the information stored on your profile.   You can change your personal details at any time using the "Edit Details" button below
    </div>
    <br /><br />

    <div class="span7">
      <h4>Personal Details</h4><br />
      <b>Username: </b><%= current_user.username %><br />
      <b>Email Address: </b><%= current_user.email %><br />
      <b>Full name: </b><%= current_user.name %><br />
      <br/>
      <b>Address</b>
      <br />
      <% if !current_user.address1.empty? %>
        <%= current_user.address1 %><br />
      <% end %>
      <% if !current_user.address2.empty? %>
        <%= current_user.try(:address2) %><br />
      <% end %>
      <% if !current_user.city.empty? %>
        <%= current_user.city %><br />
      <% end %>
      <% if !current_user.county.empty? %>
        <%= current_user.county %><br />
      <% end %> 
      <% if !current_user.post_code.empty? %>      
        <%= current_user.post_code %><br />
      <% end %>
      <% if !current_user.country.empty? %>
        <%= current_user.country %><br />
      <% end %>
      <br />
      <% if !current_user.tel_number.empty? %>
        <b>Tel: </b><%= current_user.tel_number %><br />
      <% end %>
      <% if !current_user.mobile_number.empty? %>
        <b>Mobile: </b><%= current_user.mobile_number %><br />
      <% end %>
      <br /><br />
      <div>
        <%= link_to "Change Your Details" , edit_user_path(current_user) ,:class=>"btn btn-primary" %>
      </div>

    </div>

    <div class="span3 pull-right">
      <h4>Statistics</h4><br />
      <%= link_to ("You Have "+(current_user.documents.count.to_s)+" Items Listed"), documents_path %><br /> 
      <% if current_user.documents.count > 0 %> 
        <ul>
        <% Status.alphabetically.each do |status|  %>
          <% if current_user.documents.find_all_by_status_id(status.id).count > 0 %>
            <li><%= current_user.documents.find_all_by_status_id(status.id).count %> Items marked <%= status.name %></li>
          <% end %>  
        <% end %>
        </ul>
      <% end %>
      <br />
      <b>Search Helpers</b><br />
     <%= link_to @gedcom_link_text, gedcom_documents_path %><br />
     

      <br />
      <% if current_user.documents.count > 0 %>
        <b>Item breakdown</b><br />
        <% DocumentType.alphabetically.each do |type|  %>
          <% if current_user.documents.find_all_by_document_type_id(type.id).count > 0 %>
            <%= type.name %>: <%= current_user.documents.find_all_by_document_type_id(type.id).count %>  <br />
          <% end %>  
        <% end %>
      <% end %>
      
      <br />

    </div>

    <div style="clear:both; "></div>
  </div>

</div>
