<% @pagetitle = "Profile :: #{current_user.name.humanize}" %>

<div class="introduction_block">
	<span class="profile_heading">Your Details</span>
</div>

<!-- Container -->
<div class="container siteScale clearfix">
	<div class="block whiteBG varMarginDouble leftBox floatLeft border">
		<div class="varPaddingDouble horPaddingDouble">
	        <table cellpadding="0" cellspacing="1" border="0" width="100%" class="">
	        	<tr class="odd">
	            	<td width="16%" class="strong">Full Name:</td>
	                <td width="84%"><%= current_user.name%></td>
	            </tr>
	            <tr class="even">
	            	<td class="strong">Email:</td>
	
	                <td><%= current_user.email%></td>
	            </tr>
	            <tr class="odd">
	            	<td class="strong">Address1:</td>
	                <td><%= current_user.address1%></td>
	            </tr>
	            <tr class="even">
	
	            	<td class="strong">Telephone:</td>
	                <td><%= current_user.tel_number%></td>
	            </tr>
	            
	            <tr class="odd">
	            	<td class="strong">Mobile:</td>
	                <td><%= current_user.mobile_number%></td>
	            </tr>
	            
	            <tr class="even">
	            	<td class="strong">Postcode:</td>
	                <td><%= current_user.post_code%></td>
	            </tr>
	            
	            <tr class="odd">
	            	<td class="strong">City:</td>
	                <td><%= current_user.city%></td>
	            </tr>
	             <tr class="even">
	            	<td class="strong">County:</td>
	                <td><%= current_user.county%></td>
	            </tr>
	            
	            <tr class="odd">
	            	<td class="strong">Country:</td>
	                <td><%= current_user.country%></td>
	            </tr>
	             
	            <tr class="even">
	            	<td class="strong">DOB:</td>
	                <td><%= current_user.date_of_birth%></td>
	            </tr>
	        </table>
        
    	    <div class="varMarginTop">
        	   <%= link_to "Change Your Deatils" , edit_user_path(current_user) ,:class=>"generalLink" %>
			</div>
		</div>
	</div>

	<div class="block whiteBG varPaddingDouble varMarginDouble rightBox floatRight horPaddingDouble border">
		<%= render "shared/usermenu"%>
	</div>

</div><!-- Container End -->


