<% @pagetitle = "Profile :: #{current_user.name.humanize}" %>

<div class="introduction">
	<span class="headline4 lead">Your Profile</span>
</div>

<div class="profile_header_text">
	<b>Hello <%= current_user.first_name %>.</b> This is a summary of the information stored on your profile.   You can change your personal details at any time using the "Edit Details" button below
</div>
	
	

	<div class="profile_form_container">
	<b class="lead">Account Details</b>
	<table class="table table-striped table-bordered table-condensed">
		<tr class="odd">
			<td width="16%" class="strong">Username</td>
			<td width="84%"><%= current_user.username%></td>
		</tr>
		<tr class="odd">
			<td width="16%" class="strong">Full Name</td>
			<td width="84%"><%= current_user.name%></td>
		</tr>
		<tr class="even">
			<td class="strong">Email Address</td>		
			<td><%= current_user.email%></td>
		</tr>
		 <tr class="even">
	            	<td class="strong">DOB</td>
	                <td><%= current_user.date_of_birth%></td>
	            </tr>
	</table>
	
	
	
	
        
    	   
	
	
	
	<b class="lead">Your Address</b></b>
	<table class="table table-striped table-bordered table-condensed">     
        <tr class="odd">
        	<td width="16%" class="strong">Address1</td>
            <td width="84%"><%= current_user.address1%></td>
        </tr>
        <tr class="odd">
        	<td class="strong">Address2</td>
            <td><%= current_user.address2%></td>
        </tr>
        <tr class="odd">
        	<td class="strong">Town / City</td>
            <td><%= current_user.city%></td>
        </tr>        
        <tr class="odd">
        	<td class="strong">County</td>
            <td><%= current_user.county%></td>
        </tr>        
        <tr class="odd">
        	<td class="strong">Postcode</td>
            <td><%= current_user.post_code%></td>
        </tr>        
		<tr class="odd">
	       	<td class="strong">Country</td>
            <td><%= current_user.country%></td>
        </tr>        

        
        <tr class="even">
        	<td class="strong">Telephone:</td>
            <td><%= current_user.tel_number%></td>
        </tr>
        
        <tr class="odd">
        	<td class="strong">Mobile:</td>
            <td><%= current_user.mobile_number%></td>
        </tr>
        
        <tr class="even">
        	<td class="strong">DOB:</td>
            <td><%= current_user.date_of_birth%></td>
        </tr>
    </table>
    
     <div class="varMarginTop">
        	   <%= link_to "Change Your Details" , edit_user_path(current_user) ,:class=>"generalLink btn btn-success" %>
			</div>
	
	<% if false%>
	<%= render "shared/usermenu"%>
	<% end %>
	<br /><br />
	<b class="lead">Statistics</b><br />
	You have XX Items listed [link]<br /> 
	You have XX Items For Sale [link]<br />
	You have XX Items marked as Sold [link]<br />
	You have XX Items marked as Display only [link]<br /><br />
	<br />
	You are listing XX Bibles, YY Postcards & ZZ Miscellaneous Documents<br />
	<br />
	You have X Gedcoms uploaded<br />
	<br />
	You have XX Saved Searches<br />

