<% banner_ads = ['<a href="http://www.anrdoezrs.net/click-6185997-10660760" target="_top"><img src="http://www.ftjcfx.com/image-6185997-10660760" width="728" height="90" alt="728x90: Free trial" border="0"/></a>',
              '<a href="http://www.kqzyfj.com/click-6185997-10391798" target="_top"><img src="http://www.awltovhc.com/image-6185997-10391798" width="728" height="90" alt="728x90: I’m, your Nan" border="0"/></a>',
              '<a href="http://www.anrdoezrs.net/click-6185997-10660758" target="_top"><img src="http://www.lduhtrp.net/image-6185997-10660758" width="728" height="90" alt="728x90: Free trial" border="0"/></a>',
              '<a href="http://www.tkqlhce.com/click-6185997-10660751" target="_top"><img src="http://www.lduhtrp.net/image-6185997-10660751" width="728" height="90" alt="728x90: Free trial" border="0"/></a>',
              '<a href="http://www.anrdoezrs.net/click-6185997-10880818" target="_top"><img src="http://www.ftjcfx.com/image-6185997-10880818" width="728" height="90" alt="14 Day Free Trial " border="0"/></a>',
              '<a href="http://www.jdoqocy.com/click-6185997-10660719" target="_top"><img src="http://www.ftjcfx.com/image-6185997-10660719" width="728" height="90" alt="728x90_Genes Reunited" border="0"/></a>',
              '<a href="http://www.dpbolvw.net/click-6185997-10931192" target="_top"><img src="http://www.tqlkg.com/image-6185997-10931192" width="728" height="90" alt="" border="0"/></a>',
              '<a href="http://www.jdoqocy.com/click-6185997-10931171" target="_top"><img src="http://www.lduhtrp.net/image-6185997-10931171" width="728" height="90" alt="" border="0"/></a>',
              '<a href="http://www.kqzyfj.com/click-6185997-10931162" target="_top"><img src="http://www.tqlkg.com/image-6185997-10931162" width="728" height="90" alt="" border="0"/></a>',
             ]
%> 

<% @pagetitle = "Profile :: #{current_user.name.humanize}" %>
<% last_listed_items = 12 %>
<% your_items = current_user.documents.has_photos.last(last_listed_items) %>

<div class="row-fluid">
  <div class="hero-unit">
    <h3>Hello <%= current_user.first_name %>.</h3><br />
    <div class="small">This is a summary of the information stored on your Past on paper account.   You can change your personal details at any time using the "Edit Details" button below</div><br />
    <div class="row-fluid">
      <div>
        <h4>Username: <%= current_user.username %></h4>
        <h4>Email Address: <%= current_user.email%></h4>
        <p>Address: <% if !current_user.address1.empty? %><%= current_user.address1 %>, <% end %>
                    <% if !current_user.address2.empty? %><%= current_user.try(:address2) %>, <% end %>
                    <% if !current_user.city.empty? %><%= current_user.city %>, <% end %>
                    <% if !current_user.county.empty? %><%= current_user.county %>, <% end %>
                    <% if !current_user.post_code.empty? %><%= current_user.post_code %>, <% end %>
                    <%= current_user.location_country.name %></p>
        <p><% if !current_user.tel_number.empty? %>Tel: <%= current_user.tel_number %><% end %></p>
        <p><% if !current_user.mobile_number.empty? %>Mobile: <%= current_user.mobile_number %><% end %></p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span8">
        <h4><%= link_to ("You Have "+(current_user.documents.count.to_s)+" Items Listed"), documents_path %></h4>
        <h4><%= link_to ("You Have "+(current_user.gedcom_documents.count.to_s)+" Gedcom Files Uploaded"), gedcom_documents_path %> <i class="icon-question-sign"></i></h4>
      </div>
      <div class="span4">
        <span class="pull-right" style="margin-top:25px;"><%= link_to "Edit Details" , edit_user_path(current_user) ,:class=>"btn btn-primary" %></span>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <h3>Your last <%= last_listed_items %> listed Items</h3>
  </div>
  <div class="span6">
    <span class="pull-right" style="margin-top:25px;"><%= link_to ("View all "+(current_user.documents.count.to_s)+" of your items"), documents_path %></h4></span>
  </div>
</div>
<div class="row-fluid">  
  <ul class="thumbnails">
    <% your_items.each do |document| %>
	    <% if document.name.blank? %>
		    <% doctitle = document.title%>
	    <% else %>  
		    <% doctitle = document.name %>
	    <% end %>
	    <li class="span1">
	    <% if document.default_image.present? %>
	      <%= link_to image_tag(document.default_image.photo.url(:small), :title => doctitle, :class=>"img-rounded"), document_path(document) unless document.default_image.nil? %>
	    <%end%>
	    </li>
    <% end %>
  </ul>	
</div>

<hr>
<div class="row">
  <center><%= banner_ads[rand(banner_ads.count)].html_safe %></center>
</div>
<hr>

<%#= render 'statistics' %>

