<div class="well">
  <div class="row-fluid">
    <h4>Register as a New User</h4>
  </div>  
</div>

<div>

  <div>
    <p>Thank you for registering a new account with The Past on Paper.  We only require basic details about you, and we don't share this data with anyone. Please read our <a href="/privacy">Privacy Policy</a> and our <a href="/terms/">Terms & Conditions</a>, as you will need to accept these before you can register.</p>
    <p>If you think you might want to list items on the site, please let us know by selecting the checkbox so we can inform you as soon as this feature has been unlocked.</p>
    <p>We hope you enjoy using The Past on Paper, and that we may help reunite you with some of your family heirlooms</p>
  </div>

  <br />
  <%= render :partial=>"shared/validationerror" ,:locals=>{:obj=>@user}%>
  <br /> 

  <%= form_for(@user)  do |f| %>

    <%= render 'user_details_form', :f => f %>

    <%= render 'user_interests_form',  :f => f %>

    <%= render 'user_terms_form', :f=> f %>

  <%end%>

  <div style="clear:both; "></div>

</div>
