<div id="search-info-box" class="span-7 search-box-info">
  "This is the context sensitive search info box.  Eventually, it's content will change, depending on which icon your mouse rolls overbox"
</div>

<div id="search-box" class="span-17 search-box last">
  <div class="span-17 prepend-1"><span class="alt">Search For:</span></div>
  <div class="span-17 prepend-1 append-1 last">
      <span class="span-3 search-icon-people">
        <%= link_to "People", simple_people_search_home_index_path %>
      </span>

      <span class="span-3 search-icon-places">
        <%= link_to "Places", simple_location_search_home_index_path %>
      </span>

      <span class="span-3 search-icon-organisations">
        <%= link_to "Organisations", simple_organisation_search_home_index_path %>
      </span>

      <span class="span-3 search-icon-dates">
        <%= link_to "Dates", date_search_home_index_path %>
      </span>

      <span class="span-3 search-icon-publications last">
        <%= link_to "Publications", document_search_home_index_path %>
      </span>
    </div>
</div>

