<!-- Container -->
<div class="container siteScale clearfix">
<div class="block whiteBG varMarginDouble leftBox floatLeft border">
	<div class="varPaddingDouble horPaddingDouble registraton">
	<h2>Site Statistics</h2>

	<strong>Surname Report</strong><br />
	There are: <%= @people.count %> individuals listed in the database
	 (<%= @male_people.count %> Males / <%= @female_people.count %> Females / <%= @unknown_people.count %> Unknown)

	<br />
	<strong><%= link_to "#{@surnames_count} unique surnames" ,admin_surname_report_path%></strong>
	<hr />
   	<strong>Document Report</strong><br/>
  	There are <%= pluralize(@documents.count,"Item")%> in the database <br />
  	<font color="red">No filtering link to all document list</font>
	 <table>
		 <%
			rcount=0
		 	@documents_by_types.each do |ds| 
		 	rcount = rcount+1
		 %>
				<tr class="<%= cycle("odd","even")%>">
					<td><%= rcount%>.</td>
					<td><%= link_to pluralize(ds.document_type_count,ds.document_type.name),admin_documents_path%></td>
				</tr>
			<% end %>
	 </table>
 
	<hr/>
	<strong>Location Report</strong><br/>
	 There are <%= pluralize(@countries.size,"country")%> in the database. <%= link_to "Location Report" ,admin_location_report_path%>
 	<% rcount=0
 		@countries.each do |cs| 
 		rcount = rcount+1 %>
		<div><%= rcount%>.<%= cs%></div>
	<% end %>
		
		
</div>
</div>

	<div class="block whiteBG varPaddingDouble varMarginDouble rightBox floatRight horPaddingDouble border">
		    	<%= render "shared/usermenu"%>
	</div>


</div>
<!-- Container End -->






