  <% @pagetitle = "Search Results" %>
  <% unless @documents.blank? %>
  
     
  <%= page_entries_info @documents,:entry_name => 'item' %>
  <div>
           <table>
            <tr>
              <th>Stock Number</th>
              <th>Document Name</th>
              <th>Type</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            <% @documents.each do |document| %>
                <tr>
                  <td><%= link_to document.stock_number, document_path(document) %></td>
                  <td><% if document.name.blank? %>
                        <%= link_to document.title, document_path(document) %>
                      <% else %>  
                        <%= link_to document.name, document_path(document) %>
                      <% end %>
                  </td>
                  <td><%= link_to document.document_type_name, document_path(document) %></td>
                  <td><%= link_to document.document_status, document_path(document) %></td>
                  <% if !current_user.blank? && (current_user.is_document_owner(document.user_id) || current_user.is_admin?) %>
                    <td><%= link_to "Edit", edit_document_path(document) %> /
                        <%= link_to "Delete", document_path(document), :method => :delete %>
                    </td>
                  <% end %>
                </tr>
            <% end %>
           </table>
        </div>          
<div class="ajaxpaging">
	<div class="clearfix">
		<div class="floatLeft">
			<%= will_paginate @documents %>
		</div>
	
		<div class="floatRight">
			<%if @documents.total_entries > 50%>
				Display 
				<%= link_to "50", search_results_home_index_path(:per_page=>50),:remote=>true%> 
				<%= link_to "| 100", search_results_home_index_path(:per_page=>100),:remote=>true if @documents.total_entries > 50%> 
				<%= link_to "150", search_results_home_index_path(:per_page=>150),:remote=>true if @documents.total_entries > 100%> 
				<%= link_to "| 500", search_results_home_index_path(:per_page=>500),:remote=>true if @documents.total_entries > 150%> 
			items per page
			<%end%>
		</div>
 	</div>
</div>
	<% else %>
        <div class="span-22" style="text-align: center">
           <p>Sorry!  We have no documents matching your search.</p>
        </div>
    <% end %>
