  <% @pagetitle = "Search Results" %>
  <% unless @documents.blank? %>
  
     <span class="alt">Search Results : <%= @documents.total_entries%>  <%= "On page #{params[:page]}" unless params[:page].blank?%></span>
 
  <div>
           <table>
            <tr>
              <th>Stock Number</th>
              <th>Document Name</th>
              <th>Type</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            <% @documents.each do |document| %>
                <tr>
                  <td><%= link_to document.stock_number, document_path(document) %></td>
                  <td><% if document.name.blank? %>
                        <%= link_to document.title, document_path(document) %>
                      <% else %>  
                        <%= link_to document.name, document_path(document) %>
                      <% end %>
                  </td>
                  <td><%= link_to document.document_type_name, document_path(document) %></td>
                  <td><%= link_to document.document_status, document_path(document) %></td>
                  <% if !current_user.blank? && (current_user.is_document_owner(document.user_id) || current_user.is_admin?) %>
                    <td><%= link_to "Edit", edit_document_path(document) %> /
                        <%= link_to "Delete", document_path(document), :method => :delete %>
                    </td>
                  <% end %>
                </tr>
            <% end %>
           </table>
        </div>          
<div class="ajaxpaging">
	
	<%= will_paginate @documents %>
</div>
	<% else %>
        <div class="span-22" style="text-align: center">
           <p>Sorry!  We have no documents matching your search.</p>
        </div>
    <% end %>
