<% browse = capture do %>
	<div id="publication" class="">
		<%= form_for :search_publications, :url => search_publications_home_index_path, :method=>'get', :html => {:class=>"form-inline"} do |f| %>
			<%= f.hidden_field :search_type, :value=>3 %>
			<%= f.collection_select :document_type_id, DocumentType.paper.alphabetically, :id, :name, :prompt => "Please select type", :class => 'text  input-large' %>
			<%= f.submit "",:class=>"btn btn-primary pull-right",:id=>"searchbyplacebtn", :value=>"Browse" %>
		<%end%>
	</div>
<%end%>	

<% datesearch = capture do %>
	<div id="place" class="">
		<%= form_for :search_dates, :url => search_dates_home_index_path, :method=>'get', :html => {:class=>"form-inline"} do |f| %>
			<%= f.hidden_field :search_type, :value=>4 %>
      <%= f.select(:yyyy, @fact_years.map(&:fact_year), {:include_blank => 'Select a Year'}, :class=>"search-query input-medium") %>
  		<%= f.submit "",:class=>"btn button btn-primary pull-right",:id=>"searchbyplacebtn", :value=>"Search" %>
		<%end%>
	</div>
<%end%>	


<div class="span4 lightyellow well searchbox">
  <h2>Browse</h2>
  <p class="muted">Browse by item type</p>    
  <%= browse %>
     
  <p class="muted">Search for a date in history</p>
  <%= datesearch %>
</div>
