<% @countries = Location.find :all, :order=>"country ASC", :select => "DISTINCT country" %>
<% placesearch = capture do %>
	<div id="place" class="">
		<%= form_for :search_place, :url => search_results_home_index_path, :html => {:class=>""} do |f| %>
			<%= f.hidden_field :search_type, :value=>2 %>
			<!-- Search place -->
			<%= f.text_field :city,{:placeholder => "Town", :class=>"input-small"} %>
			<%= f.text_field :county,{:placeholder => "County", :class=>"input-medium"} %>
      <%= f.select(:country, @countries.map(&:country), {:include_blank => 'Select a Country'}, :class=>"input-medium") %>
      <% if site.preview_mode = false %>
			  <!-- Search Dates -->
        <br />
			  <label>DATE FROM</label>
			  <%= f.text_field :date_from, {:placeholder=>"YYYY", :size => 10, :class=>"search_input_date input-mini"} %>
			  <label>DATE FROM</label>
			  <%= f.text_field :date_to, {:placeholder=>"YYYY",:size => 10, :class => "search_input_date input-mini"} %>
      <%end%>
			<%= f.submit "",:class=>"btn button btn-primary pull-right",:id=>"searchbyplacebtn", :value=>"Search" %>
		<%end%>
	</div>
<%end%>	

<div class="span4 lightgreen well searchbox">
  <h2>Place Search</h2>
  <p class="muted">Search for your home or town in our large collection of historic documents including Family Bibles, Photographs, Wills, Letters and Postcards</p>
  <%= placesearch %>
</div>
