<%publicationsearch = capture do %>
	<div id="publication" class="">
		<%= form_for :search_publication, :url => search_results_home_index_path, :html => {:class=>"form-inline"} do |f| %>
			<%= f.hidden_field :search_type, :value=>3 %>
			<!-- Search place -->
			<%= f.collection_select :document_type_id, DocumentType.alphabetically, :id, :name, :prompt => "Please select type", :class => 'text  input-medium' %><br />
			<%= f.text_field :document_title,{:placeholder => "Title",:size=>15, :class=>"search_input_place input-medium"} %>
			<%= f.text_field :document_publisher,{:placeholder => "Publisher",:size=>15, :class=>"search_input_place  input-medium"} %>
			<%= f.text_field :document_author,{:placeholder => "Author",:size=>20, :class=>"search_input_place  input-medium"} %>
		<%= f.submit "",:class=>"btn btn-primary",:id=>"searchbyplacebtn", :value=>"Search" %>
		<%end%>
	</div>
<%end%>


<div class="publication hero-unit">
	<span class="lead newfont">Search for a publication</span>
	<div class="info-text">
		Search for a newspapers, directory, bible or other item by date, title or publisher
	</div>
	<%= publicationsearch %>
</div>
