<div class="place">
	<span class="lead">Search for a place</span>
	<div class="info-text">
		Search for your home or town in our large collection of historic documents including Family Bibles, Photogrpahs, Wills, Letters and Postcards
	</div>
	<!-- Search by Place -->
	<%placesearch = capture do %>
		<div id="place" class="">
			<%= form_for :search_place, :url => search_results_home_index_path, :html => {:class=>"form-inline"} do |f| %>
				<%= f.hidden_field :search_type, :value=>2 %>
				<!-- Search place -->
				<%= f.text_field :city,{:placeholder => "Town",:size=>15, :class=>"search_input_place input-medium"} %>
				<%= f.text_field :county,{:placeholder => "County",:size=>15, :class=>"search_input_place input-medium"} %>
				<%= f.text_field :country,{:placeholder => "Country",:size=>20, :class=>"search_input_place input-medium"} %>
				<!-- Search Dates -->
				<%= f.number_field :date_from, {:placeholder=>"YYYY", :size => 10, :class=>"search_input_date input-medium"} %>
				<%= f.number_field :date_to, {:placeholder=>"YYYY",:size => 10, :class => "search_input_date input-medium"} %>
				<%= f.submit "",:class=>"btn button btn-primary",:id=>"searchbyplacebtn", :value=>"Search" %>
			<%end%>
		</div>
	<%end%>	
	<%= placesearch %>
</div> <!-- End Search Form (Place)-->
