<div class="search_form person">
	<span class="search_heading">Search for a person</span>
	<div class="search_text">
    	Search for your ancestors in our large collection of historic documents including Family Bibles, Photographs, Wills, Letters and Postcards
	</div>
	<!-- Search by Person -->
	<%personsearch = capture do %>
		<div id="person" class="">
			<%= form_for :search_people, :url => search_results_home_index_path do |f| %>
				<%= f.hidden_field :search_type, :value=>1 %>
				<!-- Search Name -->
				<%= f.text_field :first_name,{:placeholder => "First Name",:size=>15, :class=>"search_input_name"} %>
				<%= f.text_field :last_name,{:placeholder => "Last Name",:size=>15, :class=>"search_input_name clear_right"} %>
				<!-- Search Dates -->
				<%= f.number_field :date_birth_from, :size => 10, :class => 'searchIcon' , :placeholder=>"YYYY", :class=>"search_input_date clear_left" %>
				<%= f.number_field :date_death_from,  :size => 10, :class => 'searchIcon' ,:placeholder=>"YYYY", :class=>"search_input_date" %>
				<p><%= f.submit "",:class=>"button",:id=>"searchbypersion", :value=>"Search" %></p>
			<% end %>
		</div>
	<%end%>
	<!-- Search by Person End -->
	<%= personsearch %>
</div> <!-- End Search Form (person) -->