<% @pagetitle = "Home" %>

<!-- Search Form -->
<div class="search_container">

  <div class="introduction_block">
    We currently have <%= Person.count%> individuals, <%=Location.count%> locations and <%= Document.count %> items listed on the site.<br />
    <% if !current_user %>    
      <%= link_to "Register now" ,register_path ,:id=>"registerUser"%> for full access to our database.
    <% end %>
  </div>
    
  <div>
    <%= render "search_form" %>
  </div>
	
  <div class="bottom_content">
    Bottom Content Bar  Suggested Searches etc
  </div>

</div><!-- End Search Container -->

<div class="sidebar">
  <%= render "layouts/sidebar" %>
</div><!-- End Sidebar -->


