<% @pagetitle = "Home" %>

<div class="introduction_block">
	Currently listed:<em><%= Person.count%> Individuals, <%=Location.count%> Locations and <%= Document.count %> Items.</em>
	<% if !current_user %>    
  		<strong><%= link_to "Register now" ,register_path, :class=>"strong", :id=>"registerUser"%> for full access to our database.</strong>
	<% end %>
</div>

<!-- Search Form -->
<div class="search_container">	
  <div>
    <%= render "search_form" %>
  </div>
	
  <!-- <div class="bottom_content_container"> -->
    <%#= render "bottom_content" %>
  <!-- </div> -->

</div><!-- End Search Container -->

<div class="sidebar">
  <%= render "layouts/sidebar" %>
</div><!-- End Sidebar -->


