<%= render 'latest_items' %>

<% if !current_user %>
  <div class="row">
    <div class="hero-unit .hidden-phone">
      <h3>Welcome to The Past on Paper!</h3>
      <p>Our aim is to reunite Genealogists and Local Historians with the items from their past, hidden in Private Collections and dealerships around the world.  From Family Bibles and Old Photos, to Wills, Diaries and Letters, Login or Register now for full access to database. Registration is free and enables you to view the genealogical data within the items on the site</p>
      <!-- <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
    </div>
  </div>
<%end%>

<div class="row">
  <%= render 'search_form_person' %>
  <%= render 'search_form_place' %>
  <%= render 'search_form_browse' %>
</div>

<div class="row well">
  <center><%= banner_ad %></center>
</div>

<%= render 'featured_items' %>

<div class="row well"">
  <center>
    <script language="javascript" type="text/javascript">
      var myTarget="http://track.webgains.com/click.html?wglinkid=85629&wgcampaignid=122233&js=0";
      var uri = "http://track.webgains.com/link.html?wglinkid=85629&wgcampaignid=122233";
      document.write('<a href="'+myTarget+'" target="_blank" onMouseOver="window.status=\'http://www.historic-newspapers.co.uk\';return true;" onMouseOut="window.status=\'\'"><img src="'+uri+'" width="728" height="90" border="0" alt="Historic Newspapers"/></a>');
    </script>
  <center>
</div>

<%= render 'bottom_content' %>
