<% top_latest_items = 12 %>
<% top_latest_documents = Document.show_latest_documents.has_photos.last(top_latest_items) %>
<% featured_items = 4 %>
<% featured_documents = Document.show_featured_documents.sort_by{ rand }.slice(0..(featured_items-1)) %>

<%personsearch = capture do %>
	<div id="person" class="">
		<%= form_for :search_people, :url => search_results_home_index_path, :html => {:class=>"form-search"} do |f| %>
			<%= f.hidden_field :search_type, :value=>1 , :class=>"input-small"%>
			<%= f.text_field :first_name,{:placeholder => "First Name",:size=>25, :class=>"search-query input-medium"} %>
			<%= f.text_field :last_name,{:placeholder => "Last Name",:size=>25, :class=>"search-query input-medium"} %>

      
      <% if site.preview_mode = false %>
        <br />
			  <label>DOB FROM</label>
			  <%= f.text_field :date_birth_from, :size => 10, :class => 'input-mini' , :placeholder=>"YYYY", :style =>'width:77px;' %>
			  <label>DOB TO</label>
			  <%= f.text_field :date_death_from,  :size => 10, :class => 'input-mini' ,:placeholder=>"YYYY", :style =>'width:96px;' %>
      <% end %>

			<%= f.submit "",:class=>"btn btn-primary pull-right",:id=>"searchbyperson", :value=>"Search" %>
		<% end %>
	</div>
<%end%>

<% @countries = Location.find :all, :order=>"country ASC", :select => "DISTINCT country" %>
<% placesearch = capture do %>
	<div id="place" class="">
		<%= form_for :search_place, :url => search_results_home_index_path, :html => {:class=>"form-search"} do |f| %>
			<%= f.hidden_field :search_type, :value=>2 %>
			<!-- Search place -->
			<%= f.text_field :city,{:placeholder => "Town",:size=>15, :class=>"search-query input-medium"} %>
			<%= f.text_field :county,{:placeholder => "County",:size=>15, :class=>"search-query input-medium"} %>
      <%= f.select(:country, @countries.map(&:country), {:include_blank => 'Select a Country', :class=>""}) %>

      <% if site.preview_mode = false %>
			  <!-- Search Dates -->
        <br />
			  <label>DATE FROM</label>
			  <%= f.text_field :date_from, {:placeholder=>"YYYY", :size => 10, :style =>'width:70px;', :class=>"search_input_date input-mini"} %>
			  <label>DATE FROM</label>
			  <%= f.text_field :date_to, {:placeholder=>"YYYY",:size => 10, :style =>'width:70px;', :class => "search_input_date input-mini"} %>
      <%end%>

			<%= f.submit "",:class=>"btn button btn-primary pull-right",:id=>"searchbyplacebtn", :value=>"Search" %>
		<%end%>
	</div>
<%end%>	

<% @fact_years = Fact.find :all, :order=>"fact_year ASC", :select => "DISTINCT fact_year" %>
<% datesearch = capture do %>
	<div id="place" class="">
		<%= form_for :search_date, :url => search_results_home_index_path, :html => {:class=>"form-inline"} do |f| %>
			<%= f.hidden_field :search_type, :value=>4 %>
			<!-- Search place -->
			<%#= f.text_field :dd,{:placeholder=>"DD", :size => 10, :style =>'width:70px;', :class=>"search_input_date input-mini"} %>
			<%#= f.text_field :mm,{:placeholder=>"MM", :size => 10, :style =>'width:70px;', :class=>"search_input_date input-mini"} %>
			<%#= f.text_field :yyyy,{:placeholder=>"YYYY", :size => 10, :style =>'width:70px;', :class=>"search_input_date input-mini"} %>
      <%= f.select(:yyyy, @fact_years.map(&:fact_year), {:include_blank => 'Select a Year'}) %>
  		<%= f.submit "",:class=>"btn button btn-primary pull-right",:id=>"searchbyplacebtn", :value=>"Search" %>
		<%end%>
	</div>
<%end%>	



<div class="row">
  <ul class="thumbnails">
	  <% top_latest_documents.each do |document| %>
		  <% if document.name.blank? %>
			  <% doctitle = document.title%>
		  <% else %>  
			  <% doctitle = document.name %>
		  <% end %>
			  <li class="span1">
			  <% if document.default_image.present? %>
			    <%= link_to image_tag(document.default_image.photo.url(:small), :title => doctitle, :class=>"img-rounded"), document_path(document) unless document.default_image.nil? %>
			  <%end%>
			  </li>
	  <% end %>
  </ul>	
</div>

<% if !current_user %>
  <div class="row">
    <div class="hero-unit .hidden-phone">
      <h3>Welcome to The Past on Paper!</h3>
      <p>Our aim is to reunite Genealogists and Local Historians with the items from their past, hidden in Private Collections and dealerships around the world.  From Family Bibles and Old Photos, to Wills, Diaries and Letters, Login or Register now for full access to database. Registration is free and enables you to view the genealogical data within the items on the site</p>
      <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
  </div>
<%end%>



<div class="row">
  <div class="span4">
    <h2>Search for a Person</h2>
    <p class="muted">Search for your ancestors in our large collection of historic documents including Family Bibles, Photographs, Wills, Letters and Postcards</p>
    <%= personsearch %>
  </div>

  <div class="span4">
    <h2>Search for a Place</h2>
    <p class="muted">Search for your home or town in our large collection of historic documents including Family Bibles, Photographs, Wills, Letters and Postcards</p>
    <%= placesearch %>
 </div>

  <div class="span4">
    <h2>Search for a Date</h2>
    <p class="muted">Search for a date in history</p>
    <%= datesearch %>
  </div>
</div>

<hr>



<div class="row">
  <div class="row span8">
    <div class="row">
      <div class="hero-unit span6">
        <% document = featured_documents[0] %>
        <% if document.name.blank? %>
		      <% doctitle = document.title%>
  	    <% else %>  
	  	    <% doctitle = document.name %>
	      <% end %>
	      <% if document.name.blank? %>
		      <%= document.title %>
		    <% else %>
		      <%= document.name %>
		    <%end%>			
        <%= link_to image_tag(document.default_image.photo.url(:small), :title=>doctitle, :class=>"img-polaroid"), document_path(document) unless document.default_image.nil? %>
      </div>
      <div class="hero-unit span6">
        <% document = featured_documents[1] %>
        <% if document.name.blank? %>
		      <% doctitle = document.title%>
  	    <% else %>  
	  	    <% doctitle = document.name %>
	      <% end %>
	      <% if document.name.blank? %>
		      <%= document.title %>
		    <% else %>
		      <%= document.name %>
		    <%end%>			
        <%= link_to image_tag(document.default_image.photo.url(:small), :title=>doctitle, :class=>"img-polaroid"), document_path(document) unless document.default_image.nil? %>
      </div>
    </div>
    <div class="row">
      <div class="hero-unit span6">
        <% document = featured_documents[2] %>
        <% if document.name.blank? %>
		      <% doctitle = document.title%>
  	    <% else %>  
	  	    <% doctitle = document.name %>
	      <% end %>
	      <% if document.name.blank? %>
		      <%= document.title %>
		    <% else %>
		      <%= document.name %>
		    <%end%>			
        <%= link_to image_tag(document.default_image.photo.url(:small), :title=>doctitle, :class=>"img-polaroid"), document_path(document) unless document.default_image.nil? %>
      </div>
      <div class="hero-unit span6">
        <% document = featured_documents[3] %>
        <% if document.name.blank? %>
		      <% doctitle = document.title%>
  	    <% else %>  
	  	    <% doctitle = document.name %>
	      <% end %>
	      <% if document.name.blank? %>
		      <%= document.title %>
		    <% else %>
		      <%= document.name %>
		    <%end%>			
        <%= link_to image_tag(document.default_image.photo.url(:small), :title=>doctitle, :class=>"img-polaroid"), document_path(document) unless document.default_image.nil? %>

      </div>
    </div>
	  </div>

  <div class="row span4">
    Tag Cloud
    Browse
  </div>
</div>

<hr>

