<div class="introduction">
	Currently listed:<em><%= Person.count%> Individuals, <%=Location.count%> Locations and <%= Document.count %> Items.</em>
	<% if !current_user %>    
		<strong><%= link_to "Register now" ,register_path, :class=>"strong", :id=>"registerUser"%> for full access to our database.</strong>
	<% end %>
</div>

<div class="content row-fluid">

  <div class="span3 pull-left">
	  <%= render "layouts/sidebar" %>
  </div><!-- End Sidebar -->
  
  <!-- Search Form -->
  <div class="span9 search_container pull-right">	
    <%= render "search_form" %>
  </div><!-- End Search Container -->

</div>
<div class="bottom_container row-fluid">
  <%= render "bottom_content" %>
</div>

