<% if !@documents.blank? %>
<div class="alert alert-info">
  <div class="lead newfont">

	<%= page_entries_info @documents %>
    	<% if session[:search_params][:search_type].to_i == 1 %>
		  with people matching your search criteria
    	<%elsif session[:search_params][:search_type].to_i == 2 %>
		  with locations matching your search criteria
	 	 <%elsif session[:search_params][:search_type].to_i == 3 %>
		  publications matching your search criteria	
   		 <%else%>
		  Items matching your search criteria
    	<%end%>
    	
  </div>
</div>
<%else%>
    	<div class=" newfont alert alert-error  "> No Items found. </div>
 <%end%>
<div class="content row-fluid">

<% if @documents.blank? %>
  <div class="span3 pull-left">
	  <%= render "layouts/sidebar" %>
  </div><!-- End Sidebar -->
	
<!-- Search Form -->
  <div class="span9 search_container pull-right">	
    <%= render "search_form" %>
  </div><!-- End Search Container -->

<%else%>
	<div class="search_results_container">
		<div class="row-fluid">
		<div class="pull-left">
			<%= link_to "Back to search" ,root_path,:class=>"btn"%>
		</div>
		
		<div class="pull-right">
			<%= form_for :document_filter, :url => search_results_home_index_path, :html => {:class=>"form-inline"} do |f| %>
				You can filter your search : 
				<% if !session[:search_params].blank? && !session[:search_params][:document_type_id].blank? %>
					<%= f.collection_select :document_type_id , DocumentType.alphabetically , :id,:name,{:prompt=>"All",:selected=>session[:search_params][:document_type_id]} %>
				<% else %>
					<%= f.collection_select :document_type_id , DocumentType.alphabetically , :id,:name,{:prompt=>"All"} %>
				<% end %>
				<% if !session[:search_params].blank? && !session[:search_params][:document_status].blank? %>
					<%= f.collection_select :document_status , Status.for_filter , :id,:name,{:prompt=>"All",:selected=>session[:search_params][:document_status]}  %>
				<% else %>
					<%= f.collection_select :document_status , Status.for_filter , :id,:name,{:prompt=>"All"}  %>
				<% end %>
				
				<%= f.submit "Go",:class=>"btn btn-primary"%>
			<%end%>
		</div>
	</div>
	<div id="document_results">
		<%= render :partial => "document_result"%>
	</div>
</div>
<%end%>
</div>






