<% @pagetitle = "Search Results" %>

<div class="alert alert-info">
  <div class="lead">
      <% if @documents.empty? %>
        Sorry, Nothing Found matching your search criteria
      <% else %>
        <%= @documents.total_entries %> <%= @documents.first.class.name.sub("Controller", "").pluralize %> Found
      <% end %>  
  </div>
</div>

<div class="search_results_container">
  <div class="row-fluid">
    <div class="pull-left">
	    <%= link_to "Back" ,root_path,:class=>"btn"%>
    </div>

    <% if session[:search_params][:document_type_id].to_i == 4 %>
      <div class="span1"></div>
      <div class="row-fluid" style="margin-bottom:10px;">
        <div class="">
          <script language="javascript" type="text/javascript">
          var myTarget='http://track.webgains.com/click.html?wglinkid=243675&wgcampaignid=122233&js=0';
          var uri = 'http://track.webgains.com/link.html?wglinkid=243675&wgcampaignid=122233';
          document.write('<a href="'+myTarget+'" target="_blank" onMouseOver="window.status=\'http://www.historic-newspapers.co.uk\';return true;" onMouseOut="window.status=\'\'"><img src="'+uri+'" width="728" height="90" border="0" alt="Historic Newspapers - Original Newspaper Gifts"/></a>');
          </script>
        </div>
      </div>
    <% else %>
      <div class="row-fluid" style="margin-bottom:10px;">
        <div class="pull-right">
          <%= banner_ad %>
        </div>
      </div>
    <%end%>

    <%= render "search_filter" %>

  </div>

  <div>
 
    <% if session[:search_params][:search_type].to_i == 1 %>
      <%= render "people/person_common_list"%> 
    <% elsif session[:search_params][:search_type].to_i == 2 %>
      <%= render "locations/location_common_list"%> 
    <% else %>
      <%= render "documents/document_common_list"%> 
    <% end %>


    <%= will_paginate @documents, :renderer => BootstrapLinkRenderer %>


    <% if @documents.blank? %>
      <br />
      <div class="bottom_container row-fluid">
        <%= render 'bottom_content' %>
      </div>
    <% end %>
  
  </div>
</div>



