<% banner_ads = ['<a href="http://www.anrdoezrs.net/click-6185997-10660760" target="_top"><img src="http://www.ftjcfx.com/image-6185997-10660760" width="728" height="90" alt="728x90: Free trial" border="0"/></a>',
              '<a href="http://www.kqzyfj.com/click-6185997-10391798" target="_top"><img src="http://www.awltovhc.com/image-6185997-10391798" width="728" height="90" alt="728x90: I’m, your Nan" border="0"/></a>',
              '<a href="http://www.anrdoezrs.net/click-6185997-10660758" target="_top"><img src="http://www.lduhtrp.net/image-6185997-10660758" width="728" height="90" alt="728x90: Free trial" border="0"/></a>',
              '<a href="http://www.tkqlhce.com/click-6185997-10660751" target="_top"><img src="http://www.lduhtrp.net/image-6185997-10660751" width="728" height="90" alt="728x90: Free trial" border="0"/></a>',
              '<a href="http://www.anrdoezrs.net/click-6185997-10880818" target="_top"><img src="http://www.ftjcfx.com/image-6185997-10880818" width="728" height="90" alt="14 Day Free Trial " border="0"/></a>',
              '<a href="http://www.jdoqocy.com/click-6185997-10660719" target="_top"><img src="http://www.ftjcfx.com/image-6185997-10660719" width="728" height="90" alt="728x90_Genes Reunited" border="0"/></a>',
              '<a href="http://www.dpbolvw.net/click-6185997-10931192" target="_top"><img src="http://www.tqlkg.com/image-6185997-10931192" width="728" height="90" alt="" border="0"/></a>',
              '<a href="http://www.jdoqocy.com/click-6185997-10931171" target="_top"><img src="http://www.lduhtrp.net/image-6185997-10931171" width="728" height="90" alt="" border="0"/></a>',
              '<a href="http://www.kqzyfj.com/click-6185997-10931162" target="_top"><img src="http://www.tqlkg.com/image-6185997-10931162" width="728" height="90" alt="" border="0"/></a>',
             ]
%> 


<% @pagetitle = "Search Results" %>

<div class="alert alert-info">
  <div class="lead newfont">
    <%#= page_entries_info @documents %>
    <% if session[:search_params][:search_type].to_i == 1 %>
      with people matching your search criteria
    <%elsif session[:search_params][:search_type].to_i == 2 %>
      with locations matching your search criteria
    <%elsif session[:search_params][:search_type].to_i == 3 %>
      publications matching your search criteria	
    <%else%>
      Items matching your search criteria
    <%end%>
  </div>
</div>

<div class="search_results_container">
  <div class="row-fluid">
    <div class="pull-left">
	    <%= link_to "Back" ,root_path,:class=>"btn"%>
    </div>


    <% if session[:search_params][:document_type_id].to_i == 4 %>
      <div class="row-fluid" style="margin-bottom:10px;">
        <div class="pull-right">
          <script language="javascript" type="text/javascript">
            var myTarget="http://track.webgains.com/click.html?wglinkid=85629&wgcampaignid=122233&js=0";
            var uri = "http://track.webgains.com/link.html?wglinkid=85629&wgcampaignid=122233";
            document.write('<a href="'+myTarget+'" target="_blank" onMouseOver="window.status=\'http://www.historic-newspapers.co.uk\';return true;" onMouseOut="window.status=\'\'"><img src="'+uri+'" width="728" height="90" border="0" alt="Historic Newspapers"/></a>');
          </script>
        </div>
      </div>
    <% else %>
      <div class="row-fluid" style="margin-bottom:10px;">
        <div class="pull-right">
          <%= banner_ads[rand(banner_ads.count)].html_safe %>
        </div>
      </div>
    <%end%>


    <% if site.preview_mode = false %>
      <% if @documents.count > 1 %>
        <div class="pull-right">
          <%= form_for :document_filter, :url => search_results_home_index_path, :html => {:class=>"form-inline"} do |f| %>
            You can filter your search : 
            <%= f.collection_select :document_type_id , DocumentType.paper.alphabetically , :id,:name,{:prompt=>"Select document type"} %>
            <%= f.collection_select :document_status , Status.for_filter , :id,:name,{:prompt=>"Select document status"}  %>
            <%= f.submit "Go",:class=>"btn btn-primary"%>
          <%end%>
        </div>
      <%end%>
    <% end %>
  </div>
  <div id="document_results">
    <%= render :partial => "search_result"%>
  </div>
</div>
