<% if @documents.blank? %>

  <div class="alert alert-info">
    <div class="lead newfont">
        Sorry, no items found matching your search criteria
    </div>
  </div>
  <div class="content row-fluid">
    <div class="span3 pull-left">
      <%= render "layouts/sidebar" %>
    </div><!-- End Sidebar -->
    
    <!-- Search Form -->
    <div class="span9 search_container pull-right">	
      <%= render "search_form" %>
    </div><!-- End Search Container -->
  </div>
  <div class="bottom_container row-fluid">
    <%= render "bottom_content" %>
  </div>

<%else%>

  <div class="alert alert-info">
    <div class="lead newfont">
      <%= page_entries_info @documents %>
      <% if session[:search_params][:search_type].to_i == 1 %>
        with people matching your search criteria
      <%elsif session[:search_params][:search_type].to_i == 2 %>
        with locations matching your search criteria
      <%elsif session[:search_params][:search_type].to_i == 3 %>
        publications matching your search criteria	
      <%else%>
        Items matching your search criteria
      <%end%>
    </div>
  </div>

  <div class="search_results_container">

	  <div class="row-fluid">
	    <div class="pull-left">
		    <%= link_to "Back" ,root_path,:class=>"btn"%>
	    </div>
      
      <div class="pull-right">
        <%= form_for :document_filter, :url => search_results_home_index_path, :html => {:class=>"form-inline"} do |f| %>
	        You can filter your search : 
	        <%= f.collection_select :document_type_id , DocumentType.alphabetically , :id,:name,{:prompt=>"Select document type"} %>
	        <%= f.collection_select :document_status , Status.for_filter , :id,:name,{:prompt=>"Select document status"}  %>
	        <%= f.submit "Go",:class=>"btn btn-primary"%>
        <%end%>
      </div>
    </div>

    <div id="document_results">
	    <%= render :partial => "search_result"%>
    </div>
  </div>

<%end%>
