<% @pagetitle = "Search for a Person" %>
<div id="simple-search-box" class="span-24 last">
   <%= render :partial => "shared/search_box" %>
</div>

<div id="search-form" class="span-24 last">

    <div id="search-box" class="span-18 search-form">
 
        <div class="box-margins">        
        
        <span class="alt">Person Search</span>
        <%= form_for :search_people, :url => search_results_home_index_path do |f| %>
          <!-- Search Name -->
          <span class="span-6">First Name<%= f.text_field :firstname, :size => 30 %></span>
          <span class="span-6 last">Last name<%= f.text_field :lastname, :size => 30 %></span>



          <hr />         
          <!-- Search Birth Date -->

          <span class="span-2">Birth Date 
             <%= f.text_field :date_birth_from, :value => "yyyy", :only_integer => true,
                 :onfocus => '(this.value == "yyyy") ? this.value = "" : this.value',
                 :onblur => '(this.value == "") ? this.value = "yyyy" : this.value',
                 :size => 10, :class => 'date-3 search-form-input'
             %>
          </span>
          <span class="search-form-label span-1">+/- 
             <%= f.text_field :date_birth_to, :value => "yy",
                 :onfocus => '(this.value == "yy") ? this.value = "" : this.value',
                 :onblur => '(this.value == "") ? this.value = "yy" : this.value',
                 :size => 3, :class => "date-3 search-form-input"
             %>
          </span>

          <!-- Search Birth Location -->
          <!-- This should search all life event locations -->
          <span class="span-4">Town or City<%= f.text_field :city, :size => 30 %></span>
          <span class="span-4">County<%= f.text_field :county, :size => 30 %></span>
          <span class="span-4">Country<%= f.text_field :country, :size => 30 %></span>

          <hr />

          <!-- Search Death Date-->
          <span class="span-2 search-form-label">Death Date
             <%= f.text_field :date_death_from, :value => "yyyy", :only_integer => true,
                 :onfocus => '(this.value == "yyyy") ? this.value = "" : this.value',
                 :onblur => '(this.value == "") ? this.value = "yyyy" : this.value',
                 :size => 10, :class => 'date-3 search-form-input'
             %>
          </span> 

          <!-- Death +/- -->
          <!-- Unimplemented -->
          <span class="unimplemented search-form-label span-1">+/- 
             <%= f.text_field :date_birth_to, :value => "yy",
                 :onfocus => '(this.value == "yy") ? this.value = "" : this.value',
                 :onblur => '(this.value == "") ? this.value = "yy" : this.value',
                 :size => 3, :class => "date-3 search-form-input"
             %>
          </span>

          <!-- Search Death Location     -->
          <!-- #### Not Implemented #### -->
          <!-- Ultimately there should be one location form which searches all life events -->
          <span class="unimplemented span-4">Town or City<%= f.text_field :city, :size => 30 %></span>
          <span class="unimplemented span-4">County<%= f.text_field :county, :size => 30 %></span>
          <span class="unimplemented span-4">Country<%= f.text_field :country, :size => 30 %></span>


          <hr />
          <span class="span-2 search-form-label">Or </span>
             <%= f.text_field :date_other_from, :value => "yyy", :only_integer => true,
                 :onfocus => '(this.value == "yyy") ? this.value = "" : this.value',
                 :onblur => '(this.value == "") ? this.value = "yyyy" : this.value',
                 :size => 5, :class => 'date-3 search-form-input'
             %>

           <span class="search-form-label">Years Ago  +/- </span>
             <%= f.text_field :date_other_to, :value => "yy",
                 :onfocus => '(this.value == "yy") ? this.value = "" : this.value',
                 :onblur => '(this.value == "") ? this.value = "yy" : this.value',
                 :size => 4, :class => "date-3 search-form-input"
             %> <span class="search-form-label">Years</span>

           <p style="text-align: center;">
             <%= f.submit "Search" %>
           </p>
        <% end %>

        </div>

        <hr />
        <div class="box-margins">
            <span class="alt">Recent Searches</span>
        </div>

    </div>

    <div id="sidebar-right" class="span-6 sidebar-right last">
        <span class="alt">Right Sidebar</span>
    </div>   

</div>


 
