<div class="document_details_container ">

	<% if !@document.blank? && !@document.people.blank? %>
		<h4>People mentioned in this Document</h4>
		<table class="table table-striped table-bordered table-condensed well">
  <thead style="border: black solid 1px;">
    <tr>
      <th style="border: black solid 1px;">Name</th>
      <th style="border: black solid 1px;">Born</th>
      <th style="border: black solid 1px;">Died</th>
      <th style="border: black solid 1px;"><a href="javascript:expandAllPdetail()" id="expandallpdetail">Expand All</a></th>
    </tr>
  </thead>
  <tbody style="border: black solid 1px;">
    <% @document.people.order("last_name asc, first_name asc").each do |person|  %>
    <tr style="border: black solid 1px;">
      <td style="background-color:<%=person.sex_color%>;border: black solid 1px;">
        <%="#{person.sex_symbol} " rescue ''%> <%= "#{person.title.titleize} " rescue '' %><%= "#{person.first_name} " rescue 'unknown ' %><%= " #{person.middle_name.titleize}" rescue '' %><%= " #{person.last_name}" rescue ' unknown' %>
      </td>
      <td style="background-color:<%=person.sex_color%>;border: black solid 1px;">
        <%= person.birth_date rescue '' %><%#= "(#{person.birth_location})" unless person.birth_location.blank? %>
      </td>
      <td style="background-color:<%=person.sex_color%>;border: black solid 1px;">
        <%= person.death_date rescue '' %><%#= "(#{person.death_location})" unless person.death_location.blank? %>
      </td>
      <td style="background-color:<%=person.sex_color%>;border: black solid 1px;">
        <%unless person.person_events_except_dob.nil?%>
          <a href="javascript:hideshowpdetail('<%= person.id%>')" id="viewlink_<%=person.id%>" >View</a>
        <%end%>
        <%if !person.person_events_except_dob.nil?%>
        	<%person.person_events_except_dob.each do |person_event|%>
		    		  <%= "#{person_event.event_type.name}"%>
		      		<%= "#{person_event.fact_year}" %>
		      		<%= "#{person_event.location.full_location}" unless person_event.location.blank?%>
		    	<%end%>  
        <%end%>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>
<!--
		<div class="">
			<div class="person_heading_name">Name</div>
			<div class="person_heading_born">Born</div>
			<div class="person_heading_died">Died</div>
			<div class="person_heading_expand"><a href="javascript:expandAllPdetail()" id="expandallpdetail">Expand All</a></div>
		</div>

		<% @document.people.order("last_name asc, first_name asc").each do |person|  %>
    		<div id="person_<%= person.id%>">
      			<div class="person_detail_name" style="background-color:<%=person.sex_color%>"> 
      				<%="#{person.sex_symbol} " rescue ''%> <%= "#{person.title.titleize} " rescue '' %><%= "#{person.first_name} " rescue 'unknown ' %><%= " #{person.middle_name.titleize}" rescue '' %><%= " #{person.last_name}" rescue ' unknown' %>
    			</div>
 
    			<div class="person_detail_born" style="background-color:<%=person.sex_color%>">
      				<%= person.birth_date rescue '' %><%#= "(#{person.birth_location})" unless person.birth_location.blank? %>
    			</div>

			    <div class="person_detail_died" style="background-color:<%=person.sex_color%>">
      				<%= person.death_date rescue '' %><%#= "(#{person.death_location})" unless person.death_location.blank? %>
				</div>
			</div>	
	   	  	<%unless person.person_events_except_dob.nil?%>
   	  			<div class="person_detail_expand"><a href="javascript:hideshowpdetail('<%= person.id%>')" id="viewlink_<%=person.id%>" >View</a></div>	
  			<% end %>

			<div style="clear:left"></div>
			<%if !person.person_events_except_dob.nil?%>
				<div id="pdetail_<%= person.id%>" class="viewContent odd clearfix hide pdetail">
	   	    		<%person.person_events_except_dob.each do |person_event|%>
			    		<div class="floatLeft contant odd"><%= "#{person_event.event_type.name}"%></div>
			      		<div class="floatLeft space contant odd"><%= "#{person_event.fact_year}" %></div>
			      		<div class="floatLeft contant odd"><%= "#{person_event.location.full_location}" unless person_event.location.blank?%></div>
			      		<div class="clear"></div>
			    	<%end%>
			 	</div>
			<%end%>
		
		<%end%>

-->
		<!-- Locations Table -->
		
		<h4>Locations mentioned in this Document</h4>
		<table class="table table-striped table-bordered table-condensed well">
    <thead>
      <tr style="border: black solid 1px;">
        <th style="border: black solid 1px;">Address</th>
        <th style="border: black solid 1px;">Town</th>
        <th style="border: black solid 1px;">County</th>
        <th style="border: black solid 1px;">Country</th>
      </tr>
    </thead>
    <tbody>
      <% if !@document.blank? && !@document.locations.blank? %>
        <% @document.locations.each do |location|  %>
          <tr style="border: black solid 1px;">
            <td style="border: black solid 1px;"><%= location.street1%> <%= location.street2%></td>
            <td style="border: black solid 1px;"><%= location.town%></td>
            <td style="border: black solid 1px;"><%= location.county%></td>
            <td style="border: black solid 1px;"><%= location.country%></td>
          </tr>
        <%end%>
      <%end%>
    </tbody>
  </table>
<!--
		<div class="location_heading">
			<div class="location_heading_address">Address</div>
			<div class="location_heading_town">Town</div>
			<div class="location_heading_county">County</div>
			<div class="location_heading_country">Country</div>
		</div>
	
		<% if !@document.blank? && !@document.locations.blank? %>
			<% @document.locations.each do |location|  %>
				<div class="<%= cycle('odd','even') %>">
					<div class="location_detail_address"><%= location.street1%> <%= location.street2%></div>
					<div class="location_detail_town"><%= location.town%></div>
					<div class="location_detail_county"><%= location.county%></div>
					<div class="location_detail_country"><%= location.country%></div>
				</div>
			<%end%>
		<%end%>
-->
	<% end %> 
</div>
