<div class="well">
<ul class="nav nav-list ">
	<% unless @document.new_record? %>
		<li class=""><%= link_to_unless_current "View Document", document_path(@document) %></li>
		<li class=""><%= link_to_unless_current "Document Info",(edit_document_path(@document) unless (@document.new_record?)), :class=>"active"%></span></li>
	<% end %>
	<% unless @document.new_record? %>
		<li class=""><%= link_to_unless_current "Author Info",document_authorinfo_path(@document) unless @document.new_record? %></span></li>
		<li class=""><%= link_to_unless_current "Images",document_itemimages_path(@document) unless @document.new_record?%></span></li>
		<li class=""><%= link_to_unless_current "Locations",document_locations_path(@document) unless @document.new_record?%></span></li>
		<li class=""><%= link_to_unless_current "People &  Facts",document_itempeople_path(@document) unless @document.new_record?%></span></li>
	<% else %>
		<li class=""><a href="#">Item Info</a></li>
		<li class=""><a href="#">Author Info</a></li>
		<li class=""><a href="#">Images</a></li>
		<li class=""><a href="#">Locations</a></li>
		<li class=""><a href="#">People</a></li>
		<li class=""><a href="#">Facts</a></li>
	<%end%>
</ul>
</div>
