<div class="document_details_container">
  <% if !@document.blank? && !@document.people.blank? %>
 
    <h4>People mentioned in this Document</h4>
    <div class="person-row well-small well" style="margin:2px;padding:2px 5px;">
      <div class="row-fluid" id = "">
        <div class="span3"> <strong>Name</strong></div>
        <div class="span4"> <strong>Born</strong></div>
        <div class="span4"> <strong>Died</strong></div>
        <div class="span1"><a href="javascript:expandAllPdetail()" id="expandallpdetail">Expand All</a></div>
      </div>
    </div>

    <% @document.people.order("last_name asc, first_name asc").each do |person|  %>
      <div class="person-row  well-small well" style="background-color:<%=person.sex_color%>;margin:2px;padding:2px 5px;">
        <div class="row-fluid" id = "">
          <div class="span3"> <%= "#{person.title.titleize} " rescue '' %><%= "#{person.first_name} " rescue 'unknown ' %><%= " #{person.middle_name.titleize}" rescue '' %><%= " #{person.last_name}" rescue ' unknown' %></div>
          <div class="span4"> <%= person.event_year("birth") rescue '' %> <%= person.event_town("birth") rescue '' %></div>
          <div class="span4"> <%= person.event_year("death") rescue '' %> <%= person.event_town("death") rescue '' %></div>

          <div class="span1">
            <%unless person.person_events_all.nil?%>
              <a href="javascript:hideshowpdetail('<%= person.id%>')" id="viewlink_<%=person.id%>" class="viewlink" >View</a>
            <%end%>
          </div>
        </div>

        <%if !person.person_events_all.nil?%>
          <div  id = "pdetail_<%= person.id%>" class="row-fluid pdetail hide well-small">
            <%person.person_events_all.each do |person_event|%>
              <div class="">
                <div class="row-fluid">
                  <div class="span1"><%= "#{person_event.event_type.name}"%></div>
                  <div class="span2"><%= " #{person_event.date_modifier} #{person_event.fact_date_with_format}" %></div>
                  <div class="span7"><%= " #{person_event.location.full_location}" unless person_event.location.blank?%></div>
                </div>
              </div>
            <%end%>
          </div>
        <%end%>
      </div>
    <% end %>

	

		<!-- Locations Table -->
		
		<h4>Locations mentioned in this Document</h4>
		  <div class="well " style=" margin:2px; padding:2px 5px;">
		 <div class="row-fluid" >
        	<div class="span3"><strong>Address</strong></div>
         	<div class="span3"><strong>Town</strong></div>
         	<div class="span3"><strong>County</strong></div>
         	<div class="span3"><strong>Country</strong></div>
      	 </div>
      	 </div>
    
      <% if !@document.blank? && !@document.locations.blank? %>
        <% @document.locations.each do |location|  %>
          <div class="well " style=" margin:2px; padding:2px 5px;"> 
		 
          <div class="row-fluid">
            <div class="span3"><%= location.street1%> <%= location.street2%></div>
            <div class="span3"><%= location.town%></div>
            <div class="span3"><%= location.county%></div>
            <div class="span3"><%= location.country%></div>
         </div>
         </div>
        <%end%>
      <%end%>
   

	<% end %> 
</div>
