<div class="borderBottom varPaddingDouble">
  <label>Stock Number </label><%= f.text_field :stock_number, :size=> 15  %>
  <label>Item Name </label><%= f.text_field :name, :size => 30 %>
  <label>Type </label><%= f.collection_select :document_type_id, DocumentType.alphabetically, :id, :name, :prompt => true, :class => 'input-form-input' %>
  <label>Status </label><%= f.collection_select :status_id, Status.alphabetically, :id, :name, :prompt => true, :class => 'input-form-input' %> </span>
</div>
<div class="borderBottom varPaddingDouble">
<!-- Inventory Purchase Information -->
 <h2>Your Purchase Info</h2><span class="small"> Optional. How you acquired this item. This is used for providing you with reports, and is never made public.</span><br/>
  <label>Date </label>
   			<%= f.text_field :purchase_date, {:size => 10,:placeholder=>"dd/mm/yyyy"} %>
  <label>Vendor </label>
  			<%= f.text_field :purchase_vendor, :size => 50 %>
  <label>Purchase Price </label>
  			<%= f.number_field :purchase_price, :size => 10 %>
</div>
  <!-- Inventory Sale Information -->
  
  <div class="borderBottom varPaddingDouble">
  <!-- Not Implemented -->
  <h2>Your Sale Info</h2><span class="small">Optional. Sale details for this item. This is used for providing you with reports, and is never made public.</span><br/>
  <label>Date </label><%= f.text_field :sale_date,  {:size => 10,:placeholder=>"dd/mm/yyyy"} %>
  <label>  Purchaser </label><%= f.text_field :sale_purchaser, :size => 50 %>
  <label>   Sale Price </label><%= f.number_field :sale_price, :size => 10 %>

</div>

<div class="borderBottom varPaddingDouble">
<!-- Document Information -->
  <h2>Document Publishing Information</h2><span class="small">Information relating to the published aspects of your item</span><br />
  <label>Title </label>
  		<%= f.text_field :title, :size => 55, :class => 'input-form-input' %>
  		<br /><br />
  <label>  Edition </label>
  		<%= f.number_field :edition, :size =>5, :class => 'input-form-input' %>  
  		
  <label>Pages </label>
  		<%= f.number_field :pages, :size => 5, :class => 'input-form-input' %> 
  <label>Length (mm) </label>
  		<%= f.number_field :length, :size => 5, :class => 'input-form-input' %>
  <label>Width (mm) </label>
  		<%= f.number_field :width, :size => 5, :class => 'input-form-input' %> 
  <label>Depth (mm) </label>
  		<%= f.number_field :depth, :size => 5, :class => 'input-form-input' %> 
  <label>Weight (g) </label>
  		<%= f.number_field :weight, :size => 5, :class => 'input-form-input' %>
<br /><br />

  <label>Condition  </label><%= f.text_field :condition,:size => 40, :class => 'input-form-input'  %>
  <label>Binding </label><%= f.text_field :binding, :size => 40, :class => 'input-form-input'  %>
<br /><br />


  <label>Comments </label><%= f.text_field :comment, :size => 50,  :class => 'input-form-input'  %>
 </div>
 <div class="borderBottom varPaddingDouble">
 
  <%= f.fields_for :attribute_documents do |doc_attr| %>
    <%= render :partial => 'attribute_document_fields', :locals => {:f => doc_attr}  %>
  <% end %>
  <span class=""><%= link_to_add_fields "+ add another attribute", f, :attribute_documents %></span><br />
  
</div>
<div class="borderBottom varPaddingDouble">
<!-- Photo Upload -->
<div class="content-box" style="min-height:45px">
	
    <h2>Add Photos</h2> 
	 <% if !@document.blank? && !@document.document_photos.blank? && !@document.new_record? %>
            <% @document.document_photos.each do |photo|  %>
			<% unless photo.new_record?%>
			<div style="float:left; width:120px; text-align:center">
					<%= image_tag photo.photo.url(:small) %><br />
					
					<a href="/document_image_remove/<%= photo.id%>" onclick="return confirm('Are you sure?')">Remove</a>
			</div>
			<%end%>
			<% end %>
		   <div style="clear:left"></div>
        <% else%>
	
	<%= f.fields_for :document_photos do |document_photo| %>
		<%= render :partial => 'document_photo_fields', :locals => {:f => document_photo} %>
    <% end %>
	
		<% end %>
 
	
	
     <div class="">
        <span class=""><%= link_to_add_fields "+ Add new photo", f, :document_photos  %></span>
     </div>	
</div>
</div>
<!-- Add person --><div class="borderBottom varPaddingDouble">
    <h2>Add Person</h2><span class="small">Enter details about every person listed in your document</span><br />
    <%= f.fields_for :people do |person_attr| %>
        <%= render :partial => 'person_fields', :locals => {:f => person_attr}  %>
    <% end %>    
    <div class="span-1" style="width:100%"><%= link_to_add_fields "+ add another person", f, :people  %></div>
</div>
<!-- Add Other Locations -->
<div class="borderBottom varPaddingDouble varMarginBottom">
    <h2>Add Other Locations</h2><span class="small">Add any other Locations mentioned in the document, not already added</span><br />
      <%= f.fields_for :locations do |location_attr| %>
        <%= render :partial => 'location_fields', :locals => {:f => location_attr} %>
      <% end %>
     <div class="">
        <span class=""><%= link_to_add_fields "+ add another location", f, :locations  %></span>
     </div>
     
</div>

