<div class="row-fluid">
	<%= render :partial => "form_menu"%>
</div>

<div class="row-fluid form-horizontal">
	<%= form_for @document, :html=>{ :multipart => true}  do |f| %>
		<%= render :partial => "shared/validationerror" ,:locals=>{:obj=>@document}%>
		<%= render :partial => 'form_item_details', :locals => {:f => f}  %>
		<div class="control-group">
			<label class="control-label">&nbsp; </label>
			<div class="controls" style="text-align: center">
				<%= f.submit "Save" ,:class=>"btn" %>
			</div>
		</div>
	<% end %>
</div>