 
<div class="navbar">
	<div class="navbar-inner">

		<ul class="nav nav-bar">
			<% unless @document.new_record? %>
				<li><%= link_to_unless_current "View Item", document_path(@document),  %></li>
				<% unless current_page?(edit_document_path(@document)) %>
					<li><%= link_to_unless_current("Item Details", edit_document_path(@document)) %></li>
				<% else %>
					<li class="active"><a>Item Details</a></li>
				<% end %>	
			<% end %>

			<% unless @document.new_record? %>
				<% unless current_page?(document_authorinfo_path(@document)) %>
					<li><%= link_to("Publication Info", document_authorinfo_path(@document)) %></li>
				<% else %>
					<li class="active"><a>Publication Info</a></li>
				<% end %>	

				<% unless current_page?(document_itemimages_path(@document)) %>
					<li><%= link_to("Item Images", document_itemimages_path(@document)) %></li>
				<% else %>
					<li class="active"><a>Item Images</a></li>
				<% end %>	

				<% unless current_page?(document_locations_path(@document)) %>
					<li><%= link_to("Locations", document_locations_path(@document)) %></li>
				<% else %>
					<li class="active"><a>Locations</a></li>
				<% end %>	

				<% unless current_page?(document_itempeople_path(@document)) %>
					<li><%= link_to("People & Events", document_itempeople_path(@document)) %></li>
				<% else %>
					<li class="active"><a>People & Events</a></li>
				<% end %>	
			<% else %>
				<li class="active"><a href="#">Item Details</a></li>
				<li><a href="#">Publication Info</a></li>
				<li><a href="#">Item Images</a></li>
				<li><a href="#">Locations</a></li>
				<li><a href="#">People & Events</a></li>
			<%end%>
		</ul>

	</div>
</div>
