<div class="row-fluid">
  <div class="span11"><h4>Item Details</h4></div>
  <div class="span1" style="margin-top:10px;">(<a href="javascript:toggle_div(helptext, 'show', 'hide', 'viewhelptext')" id="viewhelptext">hide</i></a>)</div>
</div>

<div class="row-fluid" id="helptext">
  <h5 class="text-info">Adding an item is a simple 5 step process where you are asked to enter standard details about your item.</h5>
  On this page, you are asked to enter the basic information relating to the physical item, such as the title the weight and the condition, as well as any internal stock numbers and names you may have for the item as well as a description.  You can also enter a comma seperated listof tags.  Most fields are optional, though the weight is used to calculate the postage price if you are listing the item for sale - if you do not enter a weight, the item will be listed as free postage.<br /><br />
  Once you have saved your item below, you can then add further information about your item, including publication information, images, and topographical & genealogical data.
</div>
<hr />


<div class="controls controls-row">
  <%= f.text_field :stock_number , {:placeholder => "Stock Number" , :class => "span2" }%>
  <%= f.collection_select :status_id, Status.alphabetically, :id, :name, :prompt => "Select Item Status", :class =>"span2"  %>
  <%= f.collection_select :document_type_id, DocumentType.alphabetically, :id, :name, :prompt =>"Select Item Type", :class =>"span4" %>
</div>
<br />
<div class="controls controls-row">
  <%= f.text_field :name , {:placeholder => "Item Name (the friendly name of the item, eg Family Bible of John Smith)" , :class => "span9" }%>
</div>
<br />
<div class="controls controls-row">
  <%= f.text_field :title , {:placeholder => "Item Title (the published title if applicable)" , :class => "span9" }%>
</div>
<br />
<div class="controls controls-row">
  <%= f.number_field :length,  {:placeholder=>"length (mm)",:class => 'span2'} %>
  <%= f.number_field :width,   {:placeholder=>"width (mm)", :class => 'span2'} %>
  <%= f.number_field :depth,   {:placeholder=>"depth (mm)", :class => 'span2'} %>
  <%= f.number_field :weight,  {:placeholder=>"weight (g)", :class => 'span2'} %>
</div>
<br />
<div class="controls controls-row">
  <%= f.text_field :condition,  {:placeholder=>"Describe Item Condition",:class => 'span9'} %>
</div>
<br />
<div class="controls controls-row">
  <%= f.text_field :binding,  {:placeholder=>"Describe Item Binding if applicable",:class => 'span9'} %>
</div>
<br />
<div class="controls controls-row">
  <%= f.text_area :comment, {:placeholder=>"Item Details",:class => 'textarea span9'} %>
</div>
<br />
<div class="controls controls-row">
  <%= f.text_field :tag_list,  {:placeholder=>"Enter some tags, seperated by commas (eg Victorian, Humour, Seaside)",:class => 'textarea span9'} %>
</div>
<br />
<div class="controls controls-row">
  <div class="span7"></div>
  <%= f.text_field :sale_price,  {:placeholder=>"Price",:class => 'span2'} %>
</div>