<% @pagetitle = "Edit " + page_title %>
<% sub_title = "Publication Information" %>

<div class="well">
	<div class="row-fluid">
			<h4><%= @pagetitle %></h4>
			<h6><%= sub_title %></h6>
	</div>
</div>

<div class="row-fluid">
	<%= render :partial => "form_menu"%>
</div>

<legend>Publication Information</legend>

<div class="row-fluid form-horizontal">
	<%= form_for @document,:url=> :document_authorinfo, :html=>{:method=>:post, :multipart => true}  do |f| %>
		<%= render :partial => "shared/validationerror" ,:locals=>{:obj=>@document}%>
		<%= f.fields_for :document_attributes do |doc_attr| %>
				<%= render :partial => 'document_attribute_fields', :locals => {:f => doc_attr}  %>
		<% end %>

		<div class="row">
			<div class="span7"></div>
			<%= f.submit "Save",:class=>"span2 btn" %>
			<div class="span2 btn"><%= link_to_add_fields "Add More", f, :document_attributes %></div>

			<%#= link_to "Next", document_itemimages_path(@document),:class=>"span2 btn pull-right"%>
		</div>
	<% end %>
</div>	
