<% @pagetitle = "Edit " + page_title %>
<% sub_title = "Item Images" %>

<div class="well">
  <div class="row-fluid">
      <h4><%= @pagetitle %></h4>
      <h6><%= sub_title %></h6>
  </div>
</div>

<div>
	<div>
		<div class="row-fluid">
			<div class="span4">
				<%= render :partial => "form_menu"%>	
			</div>
			<div class="span8">
		
						<% unless @document.document_photos.blank? %>
  	 <ul class="thumbnails">
  	 
  	  <% @document.document_photos.each do |dp|%>
	  	  <% if dp.photo.exists? %>
	  	  <li class="span3 thumbnail">
		  	<%= image_tag dp.photo.url(:thumb),:class=>""%><br />
		  	<%= link_to "Remove",document_document_photo_path(dp.document,dp),confirm: 'Are you sure?', method: :delete,:class=>"btn btn-mini" %>
		  <% unless dp.is_primary? %>
						<%= link_to "Make default",make_primary_image_path(dp.id) ,:class=>"btn btn-mini" %>
					<% else %>
				  	 <span class="btn btn-mini disabled">   Default</span>
					<% end %>
		  </li>
		  <% end %>
		 
	  <% end %>
	  
		 </ul>
  <% end %>
  
				
				<br />
					<div class="userform">
					      <%= render :partial => 'document_photos/form'  %>
					 </div>
					 <div class="" style="text-align: right">
					 	<%= link_to "Next" ,document_locations_path(@document),:class=>"btn"%>
					 </div>
			</div>
		</div>
	</div>
</div>  
