<% @pagetitle = "Editxxx " + page_title %>
<% sub_title = "Locations" %>

<div class="well">
	<div class="row-fluid">
			<h4><%= @pagetitle %></h4>
			<h6><%= sub_title %></h6>
	</div>
</div>

<div class="row-fluid">
	<%= render :partial => "form_menu"%>
</div>

<legend>Locations</legend>
<p>Add Location For this <%= @document.document_type.name%></p>

<div class="row-fluid form-horizontal">
	<%= render :partial => "document_locations/form"%>
	<%= link_to "Next" ,document_itempeople_path(@document),:class=>"btn pull-right"%>
</div>
<br />

<div class="row-fluid">
	<legend>Locations already associated with this item</legend>
	<% @locations.each do |location| %>
		<% unless location.new_record? %>
			<div class="row-fluid" style="background: #fafafa; margin: 2px; padding:5px;">
				<div class="span11">
					<%= location.full_location %>
				</div>  
				<div class="span1">
					<%= link_to image_tag("deleteicon.png"),document_document_location_path(location.document.id,location),:method => :delete, :confirm => "Are you sure to delete?"  %>
				</div>
				<br />
			</div>
		<% end %>			
	<%end%>
</div>
<hr />