<% @pagetitle = "Add New Document" %>
<div>
	<div>
		<div class="row-fluid">
			<div class="span4">
			<%= render :partial => "document_menu"%>
			</div>
			<div class="span8">
				<h3>Locations</h3>
				
				<% @locations.each do |location| %>
				<% unless location.new_record? %>
				<div class="loccation_row clearfix" style="background: #fafafa; margin: 2px; padding:3px 5px  0 5px;">
					<div class="floatLeft">
					<%= location.full_location%></div>  
					<div class="floatRight">
						<%= link_to image_tag("deleteicon.png"),document_document_location_path(location.document.id,location),:method => :delete, :confirm => "Are you sure to delete?"  %>
						
					</div>
				<div class="clear"></div>	
					</div>
			<% end %>			
				<%end%>
				<br />
					<div class="userform">
					<h3>Add Location For this <%= @document.document_type.name%></h3>
<%= render :partial => "document_locations/form"%>
					</div>
			</div>
		</div>
	</div>
</div>  
