

<%persondetail= capture do%>
       <div id="view-1" class="viewContent odd clearfix">
       	<%@person_events.each do |person_event|%>
       	
           <div class="floatLeft contant odd"><%= "#{person_event.event_type.name}"%></div>
           <div class="floatLeft space contant odd"><%=  "#{person_event.date_event.strftime('%d/%m/%Y')}" rescue ""%></div>
           <div class="floatLeft contant odd"><%= "#{person_event.location}" unless person_event.location.blank?%></div>
       	   <%end%>
       </div>
  <%end%>

$("#person_<%=@person.id%>").append("<%=escape_javascript(persondetail)%>");
