<script type="text/javascript">

jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel();
});

</script>

<% if @document.name.blank? %>
  <% @pagetitle = @document.title %>
<% else %>
  <% @pagetitle = @document.name %>
<%end%>

<% @share_url = document_url(@document)%>
<% if !@document.blank? && !@document.document_photos.blank? %>
  <% @fb_img = @document.default_image.photo.url(:thumb)%>
<% end%>
<% @share_data="Check this out "%>
<% @share_description = @document.try(:comment)
  # for facebook check head section of layout/application.html.erb
%>

<!-- Update document views in db -->
<% Document.increment_counter(:views, @document.id) %>

<!-- Show Individual Document page -->
<div class="introduction well">
	<span class="headline4 lead newfont">
		<% if @document.is_featured%>
			<%= image_tag("icons/star.gif",:height=>"16", :title=>"This is a featured item",:style=>"margin:0 2px;")%>
		<%end%>	
    <%= @pagetitle %>
	</span>
	<br />
  <% if site.selling_enabled %>
	  <% if @document.is_on_sale? && !@document.sale_price.blank? && @document.sale_price > 0.50 %>
		  <strong class="">This item is for sale</strong>
      <strong class="pull-right"><%= number_to_currency(@document.try(:sale_price), :unit => " &pound;").html_safe unless @document.sale_price.blank? %></strong>
	  <%else%>
		  <strong >This item is not for sale</strong>
	  <% end %>	
  <%end%>
</div>

<div class="row-fluid">
  <% if !current_user.blank? && (current_user.is_document_owner(@document.user_id) || current_user.is_admin) %>
   	<div class="span2"><%= link_to '<i class="icon-edit"></i> Edit Document'.html_safe, edit_document_path(@document),:class=>"ajaxmodal btn btn-warning" %></div><br /><br />
  <% else %>
	  <% if site.selling_enabled && @document.is_on_sale? && !@document.sale_price.blank? && @document.sale_price > 0.50   %>
      <div class="span1">
	      <% if current_user %>
	      	<% payment_service_for @document.id, PAYPAL_ACCOUNT, :amount => @document.sale_price, :currency => 'GBP', :service => :paypal, :html => { :id => 'payment-form' } do |service| %>
            <% service.customer :first_name => current_user.first_name, :last_name => current_user.last_name,:email => current_user.email %>
            <% service.billing_address :city => current_user.city, :address1 => current_user.address1, :address2 => current_user.address2,:state => current_user.county,:zip => current_user.post_code %>
            <% service.item_name  service.shipping '0.00' %>
            <% service.tax '0.00' %>
            <% service.notify_url paypal_ipn_url %>
            <% service.return_url paypal_return_url %>
            <% service.cancel_return_url paypal_cancel_url %> 
            <% submit_tag("Buy Item".html_safe,:class=>"btn btn-warning") %>
          <% end %>
      	<% end %>
      </div>
      <div class="span3">
        <%= link_to "Make offer" ,offer_new_path(:document_id => @document.id),:class=>"ajaxmodal btn btn-warning",:remote=>true%>
      </div>
      <div class="span2">
        <%= link_to "Message Owner" ,offer_new_path(:document_id => @document.id),:class=>"ajaxmodal btn btn-warning",:remote=>true%>
      </div>
    <%end%>
	<% end %>
</div>

<div class="row-fluid">
  <div class="">

    <div class="well span6">
      <div class="item_desc" style="overflow-y: auto">
        <% unless @document.document_type.blank? %>
          <b>Type: </b><%= @document.document_type.try(:name) %><br />   
        <%end%>
        
        <% unless @document.title.blank? %>
          <b>Title: </b><%= @document.title %><br />
        <% end %>
        <br />
        <% @document.attribute_documents.group_by { |d| d.attribute_type.try(:name) }.each_pair do |type, doc_attrs| %>
          <b><%= type %>: </b>
          <% doc_attrs.each do |doc_attr| %>
            <%= "  #{doc_attr.value}" %>
            <%= ", #{doc_attr.attribute_location}" unless doc_attr.attribute_location.blank? %>
            <%= ", #{doc_attr.attribute_year}" unless doc_attr.attribute_year.blank? %><br />
          <% end %>
        <% end %> 
        <br />
        <% unless @document.comment.blank? %>
          <b>Description: </b>
          <%= @document.try(:comment) %>
          <br /><br />
        <%end%>

        <% unless @document.condition.blank? %>
          <b>Condition: </b>
          <%= @document.try(:condition) %>
          <br /><br />
        <% else %>
          <span>A condition report has not been provided for this item</span><br /><br />
        <%end%>
      
        <!-- Other details -->
        <% if !@document.length.blank? || !@document.width.blank? || !@document.depth.blank? %>      	
          Dimensions: 
       	  <%= "#{@document.try(:length)}mm (length) " unless @document.length.blank? %> 
       	  <%= "#{@document.try(:width)}mm (width)" unless @document.width.blank? %> 
       	  <%= "#{@document.try(:depth)}mm (depth)" unless @document.depth.blank? %><br />
        <% else %>
          <span>No dimensions have been provided for this item</span><br />
        <% end %>

        <% if !@document.weight.blank? %>            
       	  Weight: <%= "#{@document.try(:weight)}g" unless @document.weight.blank?%><br />
        <% else %>
          <span>No weight details have been provided for this item</span><br />
        <%end%>

		    <br />
        Listed by <%= @document.user.username %> on <%= @document.created_at.strftime("%d/%m/%Y")%><br />
		    Reference Number: <%=@document.id%><%unless @document.stock_number.blank?%>/<%= @document.stock_number %><%end%><br />
      </div>   
    </div>

    <div class="span6">
	    <% if !@document.blank? && !@document.document_photos.blank? %>
	      <ul class="thumbnails">
          <li class="span12"><%= image_tag @document.default_image.photo.url(:large) ,:class=>"thumbnail"%></li> 
          <% if @document.document_photos.count > 1 %>
            <% @document.document_photos.each do |photo|  %>
              <li class="span2" style="">
                <a href="<%= photo.photo.url(:large) %>" class='thumbnail' rel="lightbox"><%= image_tag photo.photo.url(:small)%></a>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
      <br /><br /> 
      <%= render :partial => "shared/social_share"%> 
      <span class="btn btn-mini" style="position:relative;left:4px; top: 3px;">Views: <%= @document.views+1 %></span>
    </div>
  </div>
</div>


<% if !current_user %>
  <div class="row-fluid"><div class="well">Please <a class="strong" style="color:red;" href="#loginModal" data-backdrop="static" data-toggle="modal" data-backdrop="static">Login</a> or <%= link_to "Register" ,register_path, :class=>"strong", :id=>"registerUser", :style => "color:red"%> to see full details about this item</div></div>
<% else %>
	<%= render "document_extended_details" %>
<% end %>
<!-- Container End -->
