<script type="text/javascript">

jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel();
});

</script>
<% @pagetitle = @document.name %>

<!-- Update document views in db -->
<% Document.increment_counter(:views, @document.id) %>


<!-- Show Individual Document page -->
<div class="introduction well">
	<span class="headline4 lead newfont">
		<% if @document.is_featured%>
			<%= image_tag("icons/star.gif",:height=>"16", :title=>"This is a featured item",:style=>"margin:0 2px;")%>
		<%end%>	
		<% if @document.name.blank? %>
			<%= @document.title %>
		<% else %>  
			<%= @document.name %>
		<% end %>
		
		
	</span>
	<br />
			
	<% if @document.is_on_sale? && !@document.sale_price.blank? && @document.sale_price > 0.50 %>
		<strong class="">This item is for sale</strong>
	<%else%>
		<strong >This item is not for sale</strong>
	<% end %>	

    <% if !current_user.blank? && (current_user.is_document_owner(@document.user_id) || current_user.is_admin) %>
    
    	<span class="pull-right"><%= link_to '<i class="icon-edit"></i> Edit Document'.html_safe, edit_document_path(@document),:class=>"btn btn-mini" %></span>
    <% end %>
</div>
<div class="row-fluid">
	<% if @document.is_on_sale? && !@document.sale_price.blank? && @document.sale_price > 0.50 %>
	
<div class="span2">
	<% if current_user %>
		<% payment_service_for @document.id, PAYPAL_ACCOUNT, :amount => @document.sale_price, :currency => 'GBP', :service => :paypal, :html => { :id => 'payment-form' } do |service| %>
        	<% service.customer :first_name => current_user.first_name, :last_name => current_user.last_name,:email => current_user.email %>
           	<% service.billing_address :city => current_user.city, :address1 => current_user.address1, :address2 => current_user.address2,:state => current_user.county,:zip => current_user.post_code %>
           	<% service.item_name  service.shipping '0.00' %>
           	<% service.tax '0.00' %>
           	<% service.notify_url paypal_ipn_url %>
           	<% service.return_url paypal_return_url %>
           	<% service.cancel_return_url paypal_cancel_url %> 
            <% submit_tag("Buy From Paypal".html_safe,:class=>"btn btn-warning") %>
		<% end %>
	<% end %>
	</div>
	<% end %>
	<div class="span2">
	<%= link_to "Make an offer" ,offer_new_path(:document_id => @document.id),:class=>"ajaxmodal btn btn-warning",:remote=>true%>
</div>
</div>
<div class="row-fluid">

	<div class="span3">
	
		<div class="well">
      <b>Title:</b>  <%= @document.try(:title) %><br />
      <b>Type:</b>   <%= @document.document_type.try(:name) %><br />
    	<b>Status:</b> <%= @document.status.try(:name) %><br />
    	<b>Price:</b>  <%= number_to_currency(@document.try(:sale_price), :unit => " &pound;").html_safe unless @document.sale_price.blank? %>
		</div>
	
		<div class="well">
			<% @document.attribute_documents.each do |doc_attr| %>
       	<%= doc_attr.attribute_type.try(:name) %>: <%= "#{doc_attr.value}" %><%= ", #{doc_attr.attribute_location}" unless doc_attr.attribute_location.blank? %><%= ", #{doc_attr.attribute_year}" unless doc_attr.attribute_year.blank? %><br />
      <% end %>
		</div>
		<div class="well">
           	<b>Dimensions</b><br />
           	<%= "#{@document.try(:length)}mm x " unless @document.length.blank? %> 
           	<%= "#{@document.try(:width)}mm x " unless @document.width.blank? %> 
           	<%= "#{@document.try(:depth)}mm" unless @document.depth.blank? %><br />
           	Weight: <%= "#{@document.try(:weight)}g" unless @document.weight.blank?%><br />
           	Added: <%= @document.created_at.strftime("%d/%m/%Y")%><br />
           	Price: <%= number_to_currency(@document.try(:sale_price), :unit => " &pound;").html_safe unless @document.sale_price.blank? %><br />
			<br />
			<b>Stock Number:</b> <%= @document.stock_number %><br />
			<b>Owner:</b> <%= @document.user.username %> (see owner's other items)<br />
 			<b>Views:</b> <%= @document.views+1 %>
 		</div>
	</div>	
<div class="span6">
	<% if !@document.blank? && !@document.document_photos.blank? %>
	<ul class="thumbnails">
			<li class="span12">
        	  <%= image_tag @document.default_image.photo.url(:large) ,:class=>"thumbnail"%>
        </li> 
            <% @document.document_photos.each do |photo|  %>
		         <li class="span2" style="">
		            <a href="<%= photo.photo.url(:large) %>" class='thumbnail' rel="lightbox">
		              <%= image_tag photo.photo.url(:small)%>
		            </a>
		          </li> 
	        	<% end %>
          </ul>
        
		<% end %>
	</div>

	<div class="span3" >
		<div class="well">
				<strong class="lead">Description: </strong><br />
				<div class="item_desc" style="max-height: 200px; overflow-y: auto"><%= @document.try(:comment) %> </div>
				<br /><br />
	
    	</div>
    	
    <div class="tags">
    <% if @document.tags.any? %>  
   		 <h4>Tags</h4>    
	      <% @document.tags.each do |tag| %>
	        	<div class="well-small" style="background: #009999; color: #fff; float:left; padding:2px 4px; margin: 5px;"><%= tag.name %></div>   
	      <% end %>
      		<div style="clear:left;"></div>
    
      <br /><br />
    <% end %>
    </div>
    <% @share_url= document_url(@document)%>
    <% if !@document.blank? && !@document.document_photos.blank? %>
	
    
    <% @fb_img = @document.default_image.photo.url(:thumb)%>
    <% end%>
   
  <% @share_data="Check this out "%>
  <% @share_description = @document.try(:comment)
  # for facebook check head section of layout/application.html.erb
  %>
<div class="">
	
	<h4>Share this on</h4>
<%= render :partial => "shared/social_share"%>

    </div>
    
    
	</div>

</div>

<% if !current_user %>
	<div class="document_heading">Please Register or Login to see full details about this item</div>
<% else %>
	<%= render "document_extended_details" %>
<% end %>
<!-- Container End -->
