<% @pagetitle = @document.name %>
<!-- Show Individual Document page -->

<div class="introduction_block">
	<% if @document.name.blank? %>
	  <span class="document_heading"><%= @document.title %></span>
	<% else %>  
	  <span class="document_heading"><%= @document.name %></span>
	<% end %>
	<br />
	<% if @document.is_on_sale? && !@document.sale_price.blank? && @document.sale_price > 0.50 %>
		<strong>This item is for sale</strong>
	<%else%>
		<strong>This item is not for sale</strong>
	<% end %>	

    <% if !current_user.blank? && (current_user.is_document_owner(@document.user_id) || current_user.is_admin) %>
    	<span class="floatRight"><%= link_to "Edit Document", edit_document_path(@document) %></span>
    <% end %>
</div>
<%
=begin %>
	<% if current_user %>
		<% payment_service_for @document.id, PAYPAL_ACCOUNT, :amount => @document.sale_price, :currency => 'GBP', :service => :paypal, :html => { :id => 'payment-form' } do |service| %>
        	<% service.customer :first_name => current_user.first_name, :last_name => current_user.last_name,:email => current_user.email %>
           	<% service.billing_address :city => current_user.city, :address1 => current_user.address1, :address2 => current_user.address2,:state => current_user.county,:zip => current_user.post_code %>
           	<% service.item_name @document.title service.shipping '0.00' %>
           	<% service.tax '0.00' %>
           	<% service.notify_url paypal_ipn_url %>
           	<% service.return_url paypal_return_url %>
           	<% service.cancel_return_url paypal_cancel_url %> 
            <% submit_tag("Buy From Paypal",:class=>"button") %>
		<% end %>
	<% end %>
<%
=end %>	

<div class="document_details_container">
	<div class="document_attributes_container">
		<div class="document_details_box">
	            Title:  <%= @document.try(:title) %><br />
	            Type:   <%= @document.document_type.try(:name) %><br />
	        	Status: <%= @document.status.try(:name) %><br />
	        	Price:  <%= number_to_currency(@document.try(:sale_price), :unit => " &pound;").html_safe unless @document.sale_price.blank? %>
		</div>
		<div class="document_publishing_box">
			<% @document.attribute_documents.each do |doc_attr| %>
            	<%= doc_attr.attribute_type.try(:name) %>: <%= "#{doc_attr.value}" %><%= ", #{doc_attr.on_date.strftime('%d %b %Y')}" unless doc_attr.on_date.blank? %><br />
          	<% end %>
		</div>
		<div class="document_physical_box">
           	<b>Dimensions</b><br />
           	<%= "#{@document.try(:length)}mm x " unless @document.length.blank? %> 
           	<%= "#{@document.try(:width)}mm x " unless @document.width.blank? %> 
           	<%= "#{@document.try(:depth)}mm" unless @document.depth.blank? %><br />
           	Weight: <%= "#{@document.try(:weight)}g" unless @document.weight.blank?%><br />
           	Added: <%= @document.created_at.strftime("%d/%m/%Y")%><br />
           	Price: <%= number_to_currency(@document.try(:sale_price), :unit => " &pound;").html_safe unless @document.sale_price.blank? %><br />
 		</div>
	</div>	

	<div class="document_photos_container">
		<% if !@document.blank? && !@document.document_photos.blank? %>
        	<div style="margin-left:20px"><%= image_tag @document.default_image.photo.url(:large), %></div>
          	<ul id="mycarousel" class="jcarousel-skin-tango">
            	<% @document.document_photos.each do |photo|  %>
			    	<li><a href="<%= photo.photo.url(:large) %>" class='' rel="lightbox"><%= image_tag photo.photo.url(:small), %></a></li>
		    	<% end %>
          	</ul>
		<% end %>
	</div>

	<div class="document_description_box"><strong>Description: </strong>
		<%= @document.try(:comment) %>
	</div>

</div>

<% if !current_user %>
	<div class="document_heading">Please Register or Login to see full details about this item</div>
<% else %>
	<%= render "document_extended_details" %>
<% end %>
    
<p>Views: XX</p>
    

<!-- Container End -->
