<!-- Container -->
<div>
<div>
	<div>
<h1>Listing Document status</h1>


<%= link_to 'New Status', new_admin_status_path %>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    
    <th></th>
  </tr>

<% @statuses.each do |status| %>
  <tr>
    <td><%= status.name %></td>
    <td><%= status.description %></td>
    
    <td><%= link_to 'Edit', edit_admin_status_path(status) %></td>
    <td><%= link_to 'Destroy', admin_status_path(status), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
    </div>
</div>

	<div>
		    	
	</div>


</div>
<!-- Container End -->


