<% @pagetitle = "Edit " + page_title %>
<% sub_title = "Item Images" %>

<div class="well">
	<div class="row-fluid">
			<h4><%= @pagetitle %></h4>
			<h6><%= sub_title %></h6>
	</div>
</div>

<div class="row-fluid">
	<%= render :partial => "documents/form_menu"%>
</div>			

<div class="row-fluid">
  <div class="span11"><h4>Item Images</h4></div>
  <div class="span1" style="margin-top:10px;">(<a href="javascript:toggle_div(helptext, 'show', 'hide', 'viewhelptext')" id="viewhelptext">hide</i></a>)</div>
</div>

<div class="row-fluid" id="helptext">
  <h5 class="text-info">Upload images of your item here.</h5>
  Images can be in jpg, gif or png formats and should not be larger than 5mb in size.  Images will be resized when they have been uploaded.  You can also delete images using this form, or set a different primary image for your item.
  <br /><br />
  Please note uploads can take some time, so please be patient after you have clicked submit.  Your image will appear on the page when it has been uploaded.
</div>

<br />

<div class="row-fluid" style="border:1px dashed grey;">
	<center>
		<h4>Drag and drop your images here</h4>
		<h4>or</h4>
	</center>
	<div>
		<%= render :partial => 'document_photos/form'  %>
	</div>
</div>

<br />

<div class="row-fluid">
	<div class="span9"><h5 class="pull-right text-info">When you have finished adding images, Click the button on the right, to add people</h5></div>
	<div class="span1"><i class="icon-hand-right" style="margin-top:10px;"></i></div> 
	<div class="span2"><%= link_to("Next >", document_people_path(@document), :class=>"btn") %></div>
</div>


<div class="row-fluid">

	<% unless @document.document_photos.blank? %>
		<ul id="photos" class="thumbnails">
			<%= render @document.document_photos%>
		</ul>
	<% end %>
	<br />

</div>
