<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @profile.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>

<p>
  <b>Description:</b>
  <%= @profile.description %>
</p>

<p>
  <b>Additional information:</b>
  <%= @profile.additional_information %>
</p>

<p>
  <b>Video link:</b>
  <%= @profile.video_link %>
</p>

<p>
  <b>Website:</b>
  <%= @profile.website %>
</p>

<p>
  <b>Email:</b>
  <%= @profile.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @profile.phone %>
</p>

<p>
  <b>Qualified 501c:</b>
  <%= @profile.qualified_501c %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
