<% @pagetitle = "Edit " + page_title %>
<% sub_title = "Publication Information" %>

<div class="well">
	<div class="row-fluid">
			<h4><%= @pagetitle %></h4>
			<h6><%= sub_title %></h6>
	</div>
</div>

<div class="row-fluid">
	<%= render :partial => "documents/form_menu"%>
</div>

<div class="row-fluid">
  <div class="span11"><h4>Publication Information</h4></div>
  <div class="span1" style="margin-top:10px;">(<a href="javascript:toggle_div(helptext, 'show', 'hide', 'viewhelptext')" id="viewhelptext">hide</i></a>)</div>
</div>

<div class="row-fluid" id="helptext">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lobortis aliquet nisi sed elementum. Vivamus non odio risus. Sed vitae tristique massa. Duis elementum eleifend tortor vitae faucibus. Nulla id felis ac nunc aliquam tincidunt vel quis libero. Pellentesque eget libero mi. Phasellus vitae augue ligula, quis tincidunt orci. Quisque vulputate lacus vitae justo viverra pellentesque. Quisque eu nisl orci. Duis sit amet urna turpis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

</div>
<hr />

<div class="row-fluid">
	<div class="accordion">

 		<h3><a href="#">Add publishing information For this <%= @document.document_type.name%></a></h3>
		<div>
			<%= form_for([@document,@document_attribute]) do |f| %>
				<%= render :partial => "document_attributes/form", :locals =>{:f=>f} %>
				<%= f.submit "Save",:class=>"span2 btn" %>
			<%end%>
		</div>

		<% @document_attributes.each do |document_attribute| %>
			<% unless document_attribute.new_record? %>
				<h3><a href="#"><%= document_attribute.full_details%></a></h3>
				<div>
					<% @document_attribute = document_attribute %>
					<%= form_for(@document_attribute, :url=>document_document_attribute_path(@document,@document_attribute), :method=>:put) do |f| %>
						<%= render :partial => "document_attributes/form", :locals=>{:f=>f} %>
						<%= f.submit "Save",:class=>"span2 btn" %>
					<%end%>
					<br />		
					<%= link_to image_tag("deleteicon.png"),document_document_attribute_path(document_attribute.document.id,document_attribute),:method => :delete, :confirm => "Are you sure to delete?"  %>
				</div>	
			<% end %>			
		<%end%>

	</div> <!-- End Accordion -->
