<%= form_for([:admin,@attribute_type]) do |f| %>
  <%= render :partial => "shared/validationerror" ,:locals=>{:obj=>@attribute_type}%>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <br />
  <%= f.label :description %>
  <%= f.text_area :description ,{:rows=>"3"} %>

  <br />
  <div class="actions">
    <%= f.label "" %>
    <%= f.submit %>
  </div>
<% end %>
