<!-- Container -->
<div>
  <div>
    <div>

      <h1>Listing Document types</h1>
      
      <%= link_to 'New Document type', new_admin_document_type_path %>

      <table class="table table-striped table-bordered table-condensed">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @document_types.each do |document_type| %>
          <tr>
            <td><%= document_type.name %></td>
            <td><%= document_type.description %></td>
            <td><%= link_to 'Show', admin_document_type_path(document_type) %></td>
            <td><%= link_to 'Edit', edit_admin_document_type_path(document_type) %></td>
            <td><%= link_to 'Destroy', admin_document_type_path(document_type), confirm: 'Are you sure?', method: :delete %></td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
  <div>
    <%= render "shared/usermenu"%>
  </div>

</div>
<!-- Container End -->



