<div class="row span11">
	<hr />
	Browse all: 
	<%= link_to "Family Bibles", bibles_path %>&nbsp&nbsp|&nbsp&nbsp
	<%= link_to "Old Photos", photos_path %>&nbsp&nbsp|&nbsp&nbsp
	<%= link_to "Antique Maps", maps_path %>&nbsp&nbsp|&nbsp&nbsp
	<%= link_to "Old Postcards", postcards_path %>&nbsp&nbsp|&nbsp&nbsp
	<%= link_to "Kelly's, White's and Pigot's Directories", directories_path %>&nbsp&nbsp|&nbsp&nbsp
	<%= link_to "Ephemera", ephemera_path %>&nbsp&nbsp|&nbsp&nbsp
	<%= link_to "Historic Newspapers", newspapers_path %>&nbsp&nbsp|&nbsp&nbsp
	<%= link_to "Old Wills", wills_path %> 
	<hr />
</div>
