<!-- Footer Menu -->
<div id="footer_nav">
	<ul>
		<li><%= link_to "Home",root_path %></li>
		<li><%= link_to "About Us",about_path %></li>
		<li><%= link_to "Terms",terms_path %></li>
		<li><%= link_to "Privacy",privacy_path %></li>
		<li><%= link_to "Contact Us",contact_path %></li>
	</ul>
</div><!-- End Footer Menu -->
