<!-- Logo -->
<div class="header_logo">
	<a href="/">
		<%= image_tag("logo.jpg")%>
	</a>
</div><!-- End Logo-->

<div class="header_content">
	<div class="header_upper">
		<div class="header_login_box">
			<% if !current_user %>
				<div class="header_login_form">
					<%= form_tag :login ,:id=>"userLogin" do |f| %>
				 		<%= text_field_tag :username,nil,{:placeholder=>"Username",:size=>"20"} %> 
						<%= password_field_tag :password,nil, {:placeholder=>"Password",:size=>"18"} %> 
						<input class="button" type="submit" id="submitLogin" name="submitLogin" value="Login" />
						<br/>
						<%= link_to "Register" ,register_path ,:id=>"registerUser"%> | 
						<%= link_to "Forgot Password?" ,forgot_password_path ,:id=>"fpassword"%>
						<div style="float:right;">
        					Remember Me <%= check_box_tag :remember_me, 1 %>
        				</div>	 
      				<%end%>  
				</div>
			<%else%>
				<div class="header_user_greeting">
					<strong class="header_greeting_text">Hi <%= current_user.name %> (<%= current_user.username %>)</strong><br />
					<strong class="header_greeting_links">
						<%= link_to("Sign Out", logout_path) %> | 
						<%= link_to("My Account", user_home_path) %>  | 
						<%= link_to("Help", "#") %>
	      			</strong>
					<br/>
				</div>
			<%end%>	
			<div class="header_social_links">
				<!--
				<div class="header_social_icon"><a href="http://www.pastonpaper.com/blog" target="_blank"><%= image_tag("blog.gif",:height=>"16")%></a>Blog</div>
				<div class="header_social_icon"><a href="http://www.facebook.com/pastonpaper" target="_blank"><%= image_tag("facebook.png",:height=>"16")%></a>Facebook</div>
				<div class="header_social_icon"><a href="http://twitter.com/pastonpaper" target="_blank"><%= image_tag("twitter.png",:height=>"16")%></a>Twitter</div>
				-->
			</div>
			<div class="header_status_message">
				<% if flash[:alert]%>
		  			<div class="status_message alert"><%= flash[:alert]%></div>
	  			<% end %>
	  			<% if flash[:error]%>
		  			<div class="status_message error"><%= flash[:error]%></div>
	  			<% end %>
	  			<% if flash[:notice]%>
		  			<div class="status_message success"><%= flash[:notice]%></div>
	  			<% end %><!-- End Status Message -->	
			</div>	
		</div>
	</div>
	<div class="main_menu_bar">
		<%= render "layouts/menu_bar"%>
	</div><!-- End Menu Bar -->
</div>



