      <!-- Logo -->
			<div class="header_logo">
				<a href="/"><%= image_tag("logo.jpg")%></a>
			</div><!-- End Logo-->

      <!-- Login Box -->
			<div class="header_login_box">

        <!-- Not logged in -->
  			<% if !current_user %>
  				<div class=""">
  					<%= form_tag :login ,:id=>"userLogin" do |f| %>
  				 		<%= text_field_tag :username,nil,{:placeholder=>"Username",:size=>"20"} %> 
							<%= password_field_tag :password,nil, {:placeholder=>"Password",:size=>"20"} %> 
							<br/>
							<input class="button" type="submit" id="submitLogin" name="submitLogin" value="Login" />
              Remember Me <%= check_box_tag :remember_me, 1 %> 
            <%end%>  

            <div class="header_login_register"> 
  					  <%= link_to "Register" ,register_path ,:id=>"registerUser"%> | 
 	  					<%= link_to "Forgot Password?" ,forgot_password_path ,:id=>"fpassword"%>
            </div>	
	  			</div>

          <!-- logged in -->
					<%else%>
					<div class="header_login_greeting">
						<strong class="header_greeting_text">Hi <%= current_user.name %> (<%= current_user.username %>) </strong> 
						<br/>
						<strong class="header_greeting_links">
 							<%= link_to("Sign Out", logout_path) %> | 
							<%= link_to("My Account", user_home_path) %>  | 
							<%= link_to("Help", "#") %>
            </strong>

						<div class="header_social_links hide">
							<a href="http://facebook.com" target="_blank"><%= image_tag("facebook.png")%></a>
						  <a href="http://twitter.com" target="_blank"><%= image_tag("twitter.png")%></a>
						</div>
					</div>
				<%end%>
			</div><!-- End Login Box -->






