<!-- Header Layout -->

<!-- Logo Section -->
<div class="span-12 ">
    
</div>

<!-- Display Login Box -->
<div class="span-12 last ">
    <div class="span-12 last">
        <% if current_user.blank? %>
            <%= form_for :user_session, :url => {:controller => "user_sessions", :action => "create"} do |f| %>
              <div class="span-4">
                Username<br/>
                <%= f.text_field :login, :size => 13 %> 
              </div>
              <div class="span-4">
                Password<br/>
                <%= f.password_field :password, :size => 13 %><br />
              </div>
              <div class="span-2">
                <br />
                <%= f.submit('Login', :class=>"button") %><br />
              </div>
              <div class="span-2 last">
                <br />
                <%= link_to "Register", register_path ,:class=>"button" %>
              </div>
            <% end %>

        <!-- Unless Logged in, in which case display Username -->
        <% else %>
          <div class="span-10 last">
            Hi <%= current_user.name %> (<%= current_user.login %>) | 
            <%= link_to("Sign Out", logout_path) %> | 
            <span class="unimplemented"><%= link_to("My Account", profile_user_path(current_user)) %></span> | 
            <span class="unimplemented"><%= link_to("Help", "#") %></span>
          </div>
        <% end %>
    </div>
    <hr />
<% if flash[:notice] %>
   <!-- Display any error messages --> 
   <div class="span-10 notice">
        <!-- Error Message -->
        <%= flash[:notice]  %>
    </div>
 <% end %>
</div>







