<div id="row">
	<div class="status_message">
		<% if flash[:alert]%>
			<div class="alert alert-error span12 centering"><%= flash[:alert]%></div>
  	<% end %>
  	<% if flash[:error]%>
			<div class="alert alert-error span12 centering"><%= flash[:error]%></div>
  	<% end %>
  	<% if flash[:notice]%>
			<div class="alert alert-success span12 centering"><%= flash[:notice]%></div>
  	<% end %><!-- End Status Message -->	
	</div>

  <div class="row-fluid">

    <div class="span8">
	    <a href="/" class="pull-left">
		    <%= image_tag("pop-header.jpg")%>
	    </a>
    </div>

    <div class="span4">

      <div class="row">
      	<ul class="breadcrumb currently_listed" style="margin-bottom:0px;">
      		<li>Listing </li>
      		<li><b><%= Person.count%></b> Individuals,</li>
      		<li><b><%= Location.count%></b> Locations, and </li>
      		<li><b><%= Document.count %></b> Items.</li>
	      </ul>
	    </div>

      <div class="row">
        <% if !current_user %> 
         	<ul class="breadcrumb currently_listed" style="margin-bottom:0px;">
        	  <li><a class="strong" style="color:red;" href="#loginModal" data-backdrop="static" data-toggle="modal" data-backdrop="static">Login</a> or <%= link_to "Register" ,register_path, :class=>"strong", :id=>"registerUser", :style => "color:red"%>  now for full access to our database</li>
          </ul>
        <% end %>
      </div>

      <div class="row pull-right" style="margin:15px;">
        <a href="http://blog.pastonpaper.com/" target="_blank"><%= image_tag("icons/blog.jpg",:height=>"32", :width=>"32",  :title=>"Past on paper Blog")%></a> 
        <a href="http://www.facebook.com/pastonpaper" target="_blank"><%= image_tag("icons/facebook.jpg", :height=>"32", :width=>"32", :title=>"Facebook")%></a> 	    
        <a href="http://twitter.com/pastonpaper" target="_blank"><%= image_tag("icons/twitter.jpg", :height=>"32", :width=>"32", :title=>"Twitter")%></a> 
        <a href="http://www.pinterest.com/pastonpaper" target="_blank"><%= image_tag("icons/pinterest.png", :height=>"32", :width=>"32", :title=>"Pinterest")%></a> 
      </div>

    </div>  

  </div>

  <div class="modal fade" id="loginModal" >
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Login </h3>
    </div>

    <div class="modal-body">
      <div class="login-box pull-right">
        <% if !current_user %>
		      <div class="login-form-wrapper">
		        <%= form_tag :login ,:id=>"userLogin" , :class => "form-inline" do |f| %>
		          <%= text_field_tag :username,nil,{:placeholder=>"Username",:size=>"20"} %> 
					    <%= password_field_tag :password,nil, {:placeholder=>"Password",:size=>"18"} %> 
					    <input class="btn btn-primary" type="submit" id="submitLogin" name="submitLogin" value="Login" />
					    <br/>
				      <div class="pull-left">
                <%= link_to "Register" ,register_path , :class=>"pull-left"%>&nbsp|&nbsp<%= link_to "Forgot Password?" ,forgot_password_path ,:id=>"fpassword"%>
				      </div>
				      <div class="pull-right">
          		  Remember Me <%= check_box_tag :remember_me, 1 %>
          	  </div>
          	<%end%>  
			    </div>
		    <%end%>
      </div>
    </div>

    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>

  </div>

</div> <!--End Page Header-->

