<div class="modal fade popoverfront" id="PopModal">

  <div class="modal1">

    <div class="modal-header">
      <div style="text-align: center; color:#efefef; ">
        <h1><%= site.site_url %><br /><%= site.site_name %><br /><%= site.popover_heading %></h1>
      </div>
    </div>



    <div class="modal-body" style="padding-top:20px;">
       <center><a href="http://www.tkqlhce.com/click-6190726-10880817" target="_blank"><img src="http://www.tqlkg.com/image-6190726-10880817" width="468" height="60" alt="14 Day Free Trial " border="0"/></a></center>
    </div>

    <div class="modal-body" style=" padding:20px 0px; color:#d9d9d9; padding:6px 6px 0px; ">
      <div>
        <p><%= site.popover_message %></p>
        <p>We're busily working behind the curtain to bring you "The Past on Paper", a new website which aims to reunite genealogists and local historians with the Family Bibles, Photos, Letters, Diaries, Postcards, Maps, Wills, Deeds  and other historic paper items hidden away in the World's antique shops and private collections.</p>
        <p>We're hoping to launch very soon but if you'd like to be one of the first people to list your items on the site, or get the first opportunity to buy your family's heirlooms, please join our mailing list and we'll be in touch very soon!</p>
        <p>In the meantime, you can also see what we're upto by following us on Facebook or Twitter, or follow the news on our blog (when we have time to write on it!).</p>

        <% if site.popover_mailinglist_form %>  
          <div id="mailing_list_status"></div>
          <div style="width:445px; margin:auto;">
            <h3 style="padding:0px; color:#c93; font-style: italic; ">Please add me to the pastonpaper.com mailing list.</h3>
            <%= form_tag( mailing_lists_create_path,:remote=>true,:method=>:post,:id=>"mailing_list_form") do %>
              <%= text_field_tag :first_name,"" ,:placeholder=>"First name",:required=>true %>  <%= text_field_tag :last_name,"" ,:placeholder=>"Last name",:required=>true %><br />
              <%= email_field_tag :email ,"",:placeholder=>"Email",:required=>true %>  
              <span style="float:right;"><%= submit_tag "Join Now",:class=>"btn btn-warning" ,:data =>{:disable_with=>"Processing..."}%></span>
            <% end %>
          </div>
        <%end%>
      </div>
    </div>

    <div class="modal-footer">
      <% if site.popover_login_form %>
        <p style="text-align: center; color: #96c6f6;">If you already have a preview login, please use the form below to enter the site.</p>
        <div class="login-box pull-right">
          <% if !current_user %>
            <% if flash[:alert]%>
              <div class="alert alert-error"><%= flash[:alert]%></div>
            <% end %>
            <div class="login-form-wrapper">
              <%= form_tag :login ,:id=>"userLogin" , :class => "form-inline" do |f| %>
                <%= text_field_tag :username,nil,{:placeholder=>"Username",:size=>"20"} %> 
                <%= password_field_tag :password,nil, {:placeholder=>"Password",:size=>"18"} %> 
                <input class="btn btn-primary btn-warning" type="submit" id="submitLogin" name="submitLogin" value="Login" />
                <br/>
                <div class="pull-left">
                  <%= link_to "Forgot Password?" ,forgot_password_path ,:id=>"fpassword"%>
                </div>
                <div class="pull-right" style="margin-right:55px;">
                  <a>Remember Me</a> <%= check_box_tag :remember_me, 1 %>
                </div>
              <%end%>  
            </div>
          <%end%>
        <%end%>
      
        <div class="row-fluid social_links pull-right">
          <br />
          <span style="padding:3px; background:#efefef; ">  	
            <a href="http://blog.pastonpaper.com/" target="_blank"><%= image_tag("/assets/icons/blog.gif",:height=>"16", :title=>"Past on Paper Blog")%></a>
            <a href="http://www.facebook.com/pastonpaper" target="_blank"><%= image_tag("/assets/icons/facebook.png",:height=>"16", :title=>"Facebook")%></a>
            <a href="http://twitter.com/pastonpaper" target="_blank"><%= image_tag("/assets/icons/twitter.png",:height=>"16", :title=>"Twitter")%></a>
            <a href="http://www.pinterest.com/pastonpaper" target="_blank"><%= image_tag("/assets/icons/pinterest.png",:height=>"16", :title=>"Pinterest")%></a>
          </span>
        </div>	
        <br /><br />

      </div>
    </div>
  </div>
</div>

