<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>The Past on Paper | <%= @pagetitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application"  %>
    <%= csrf_meta_tag %>
    <script type="text/javascript">
	    $(document).ready(function(){
		    $("a[rel=lightbox]").lightBox();
		    $('#container-1').tabs();       // Tab function
		    $('#mycarousel').jcarousel();   // Slideshow
	    });
    </script>
  </head>

  <body>
    <div id="page-container" class="row">
      
      <div class="span10 offset2 wrapper container">
      
        <div id="header-container" class="row-fluid">
          <%= render "layouts/header" %>
        </div>
        
        <div id="main-menu" class="row-fluid">
 	        <div class="menu-bar">
		        <%= render "layouts/menu_bar"%>
	        </div>
	          <!-- End Menu Bar -->
        </div>
        
        <div id="mainpage-container" class="row-fluid">
          <div id="mainpage">
            <%= yield %>
          </div>

          <hr>

          <footer id="footer" class="row-fluid">
            <p><%= render "layouts/footer"%></p>
          </footer>
          
        </div>
        
      </div>
      
    </div>
</body>
</html>
