<!DOCTYPE html>
<html>
<head>
  <% @fb_dimg = 'http://pastonpaper.com/logo.jpg' %> 
  <meta property="og:title" content="<%= @pagetitle || "www.pastonpaper.com "   %>"/>
  <meta property="og:image" content=" <%= @fb_img  || @fb_dimg %>"/>
  <meta property="og:url" content="<%= @share_url || 'http://www.pastonpaper.com'%>" />
  <meta property="og:site_name" content="pastonpaper.com"/>
  <meta property="og:description" content = "<%= @share_description || "Item on www.pastonpaper.com"%>" />
  <meta property="fb:app_id" content="354188527987106" />
  <meta charset="utf-8"/>
  <title><%= site.site_url %> | <%= @pagetitle %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application"  %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    $("#loginModal").modal({"backdrop" : "static"});
    $(document).ready(function(){
	    $("a[rel=lightbox]").lightBox();
	    $('#container-1').tabs();       // Tab function
	    $('#mycarousel').jcarousel();   // Slideshow
    });
  </script>
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico" />

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34838250-1']);
    _gaq.push(['_setDomainName', 'pastonpaper.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>

<body>
  <%= render 'layouts/menu_bar' %>
  
  <div class="container-fluid">
    <div class="row-fluid">
    	<div class="span12"  >
    		<div class="row-fluid" style="background: #fff; ">
       		<%= render "layouts/header"%>
     		</div>
    		<div class="" style="background: #fff; " id="mainpage">
        	<%= yield %>
        </div>
      </div>
    </div>
  </div>
       
 
  <% if !current_user %>
    <script>
	    jQuery(document).ready(function($){
        $('#PopModal').modal({
  			  keyboard: false,
 				  backdrop:"static"
  		  })
      });
    </script>


    <% if site.popover_enabled %>
      <%= render 'layouts/popover' %> 
    <% end %>
  <% end %>


  <div id="footer-cont">
    <div class="rightCorner"></div>  
    <div class="leftCorner"></div>
 	    <footer id="footer" class="row-fluid">
        <p><%= render "layouts/footer"%></p>
    	</footer>
  	</div>
  </div>


  <div class="modal hide " id="modal-window">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>&nbsp;</h3>
    </div>
    <div class="modal-body">
      <center>
        <%= image_tag("icons/loading.gif") %>
      </center>
    </div>
    <div class="modal-footer">
      <a class=" btn btn-primary" data-dismiss="modal">Close</a>
    </div>
  </div>

</body>
</html>
