<!DOCTYPE html>
<html>
<head>
  <title>The Past on Paper | <%= @pagetitle %></title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "pastonpaper" %>
  <%= javascript_include_tag "application"  %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
	  $(document).ready(function(){
		  $("a[rel=lightbox]").lightBox();
		  $('#container-1').tabs();       // Tab function
		  $('#mycarousel').jcarousel();   // Slideshow
	  });
  </script>
</head>

<body>
	<div class="pop_container">

	  <!-- Header -->
		<div class="header">
    <%= render "layouts/header" %>
		</div><!-- End Header -->

    <div class="content_container">
      <!-- Page Content -->
  		<%= yield %>
    </div><!-- End Content Container -->
  
		<!-- Footer -->
    <div class="footer">
      <%= render "layouts/footer"%>
    </div><!-- End Footer-->

	</div><!-- End Pop Container -->
</body>

</html>
